<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}Gallevent Control{% endblock title %}</title>

<link rel="stylesheet" type="text/css" href="../css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/control-layout-main.css" />
</head>

<body>

<div class="container">
  <header>
    <div id="header">
    	Gallevent Control
        <nav>
        	<ul>
            	<li><a href="#">Manage Invites</a></li>
            </ul>
        </nav>
    </div><!-- #header -->
    <div id="container">
    	<h1>Manage Invites</h1>
        <form method='post'>
        	<label for="actions">Actions:</label>
        	<select id="actions">
                <option value="accept-selected">Accept Selected</option>
        		<option value="deny-selected">Deny Selected</option>
            </select>
            <table class="manage-invites" cellpadding="0" cellspacing="0">
                <th class="table-header">
                    <td><input type="checkbox" name="select-all" value="select-all" /></td>
                    <td>Email</td>
                    <td>Date</td>
                    <td>Approve</td>
                    <td>Deny</td>
                </th>
                {% for email, date, value in invite_requests %}
                <tr>
                    <td><input type="checkbox" name="emails" value="{{ value }}"/></td>
                    <td>{{ email }}</td>
                    <td>{{ date }}</td>
                    <td><a href="#">Approve</a></td>
                    <td><a href="#">Deny</a></td>
                </tr>
                {% endfor %}
            </table>
            <input type='submit'></input>
        </form>
    </div>
  </header>
</body>
</html>
