@charset "utf-8";
/* Title: User Control Pages
** Description: Styles for User Control Section Pages
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 03-31-2013
** Updated: 12-21-2014
************************************** */

html {
	background:url(../../img/bg-dolores-park-1920x1080.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

body {
	background:transparent;
	}



h2 {
	margin-bottom: 0.5em;
	padding-top:0.3em;
	font-size:150%;
	line-height:1.2em;
	color:rgba(5, 159, 172, 1);
	}

h3 {
	position:relative;
	font-size:110%;
	color:#58595b;
	}

h3 svg {
	position:relative;
	top:15px;
	margin-right:8px;
	}

.center {
	display:block;
	}
	
#footer .copyright {
	position:absolute;
	right:1em;
	bottom:1em;
	color:#fff;
	}

