@charset "utf-8";
/* Title: Gallevent Template
** Description: Gallevent Frontend Website Template
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 01-06-2013
** Updated: 09-01-2013
************************************** */

/* = Global Typography */
html,
body {
	background:#a5bfdd;
	font-family:Arial, Helvetica, sans-serif;
	}

h1 {
	color:#01a1ad;
	font-weight:200;
	font-size:210%;
	margin:0;
	}

h2 {
	color:#66C13F;
	font-weight:200;
	font-size:160%;
	margin:1em 0 0 0;
	}



/* = Main Containers
----------------------------------- */
#header {
	position:relative;
	top:0;
	z-index:800;
	margin:0 auto;
	height:auto;
	width:100%;
	}

#header a:hover {
	color:#01A1AD;
	}

.logo-block {
	position:absolute;
	z-index:810;
	width:269px;
	min-height:105px;
	background:transparent url(../../img/data/orange-angle.svg) 0 0 no-repeat;
	}