@charset "utf-8";
/* Title: Gallevent Template
** Description: Gallevent Frontend Website Template
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 01-06-2013
** Updated: 06-22-2013
************************************** */

/* = Global Typography */
html,
body {
	background:#a5bfdd;
	font-family:Arial, Helvetica, sans-serif;
	}

h1 {
	color:#01a1ad;
	font-weight:200;
	font-size:210%;
	margin:0;
	}

h2 {
	color:#66C13F;
	font-weight:200;
	font-size:160%;
	margin:1em 0 0 0;
	}

p,
ul,
ol {
	font-size:120%;
	margin:0.6em 0 0 0;
	}

ul,
ol {
	font-size:120%;
	margin:0.6em 0 0 2em;
	}
	
a,
a:link {
	color:#01a1ad;
	text-decoration:none;
	}
a:hover {
	color:#66C13F;
	}

.sign-in-status {
	display:block;
	background:#66C13F;
	color:#fff;
	font-size:0.9em;
	overflow-x:hidden;
	}
.sign-in-status a,
.sign-in-status a:link {
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	}

.signed-in {
	text-align:center;
	}
.signed-in a:hover {
	color:#FFE066 !important;
	}

.signed-in.username,
.sign-in-status:hover .signed-in.btn-sign-out {
	display:block;
	float:left;
	width:100%;
	}

.signed-in.username {
	padding:1em 0 0.6em 0;
	}

.signed-in.btn-sign-out {
	display:none;
	}

.sign-in-status:hover .signed-in.btn-sign-out {
	padding:0 0 1em 0;
	}

/*
a.username,
a.btn-sign-out {
	display:block;
	float:left;
	padding:1.5em 1em 1em 1em;
	}
a.btn-sign-out {
	padding:1.5em 1em 1em 1em;
	}
*/

/* = Global Form Elements
----------------------------------- */
fieldset {
  border:2px solid #e9eaea;
  padding:1em 5% 1.5em 5%;
  margin-bottom:1.5em;
  display:block;
  float:left;
  clear:left;
  width:90%;
  }

legend {
  background:#239ea2;
  color:#fff;
  display:block;
  font-size:110%;
  padding:0.7em 5% 0.7em 6%;
  margin:0 0 0 -12.1%;
  font-weight:bold;
  clear:both;
  } 

input,
select {
  padding-left:2%;
  padding-right:2%;
  }

input {
	padding-top:0.6em;
	padding-bottom:0.6em;
	}

.input-required {
  border:2px solid #5EBF31; /* Green */
  background:#fefbe3;
  }
input:focus,
textarea:focus,
select:focus {
  border:2px solid #56D8D8;
  background:#fff;
  outline: none;
  }
.input-standard {
  border:2px solid #59BDBF;
  background:#F4F7F7;
  }

select {
	-webkit-appearance: none;
	background-color:transparent !important;
	-webkit-background-clip: padding;
  	-moz-background-clip: padding;
	height:100%;
	}

.select {
	padding-top:0.52em;
	padding-bottom:0.52em;
	background:#fff url(../../img/btn-select-dwn-arrow.png) right center no-repeat;
	background-size:contain;
	overflow:hidden;
	}

.form-details {
  width:100%;
  display:block;
  color:#555;
  font-size:95%;
  margin:0 0 0.9em 0;
  }
.form-comment {
  color:#239ea2;
  }

/* Form comment under text-area or input */
.under {
  display:block;
  margin-bottom:1em;
  margin-top:-0.5em;
  text-align:right;
  width:73%;
  }

form .radio-btn-1,
form .radio-btn-2 {
  display:block;
  }
form .radio-btn-1,
form .radio-btn-2 .head {
  padding:1em 1em 0.3em 1em;
  }
form .radio-btn-2 {
  border:2px solid #fff;
  width:90%;
  }
form .radio-btn-2 {
  border:2px solid #239ea2;
  }
form .radio-btn-2 .head {
  background:#239ea2;
  }

form .radio-btn-1 label,
form .radio-btn-2 label {
  display:inline;
  margin-left:0.6em;
  }
form .radio-btn-2 label {
  color:#fff;
  }

form .radio-btn-1 input,
form .radio-btn-2 input {
  width:auto;
  }
form .formOptional {
  background:#fff;
  margin:1em 0 0 0;
  }
form .formOptional label {
  color:#239ea2;
  clear:both;
  display:block;
  margin-left:1em;
  }

form .formOptional input {
  margin-left:1em;
  }

form .formOptional input {
  width:300px;
  }

form label {
  clear:both;
  font-weight:bold;
  color:#239ea2;
  display:block;
  margin:0 0 .2em 0;
  }
.required,
label.required {
color:#5EBF31; /* Green */
}

form input,
form textarea,
form select#state,
form select#event-category {
font-size:110%;
width:70%;
padding:.5em;
margin-bottom:0.99em;
}
form textarea {
min-height:12.5em;
}
form select#state,
form select#event-category {
padding:0 0 0 .5em;
line-height:2em;
height:2.5em;
}

/* = Select Categories Dropdown */
#select-fairs,
#select-networking,
#select-education,
#select-athletic,
#select-art,
#select-dancing,
#select-sales,
#select-dining,
#select-parties,
#select-jobs {
height:2em;
padding:5px 5px 0 40px;
}

#select-fairs {
background:url(../img/pin-key-fairs.png) top left no-repeat;
}
#select-networking {
background:url(../img/pin-key-networking.png) top left no-repeat;
}
#select-education {
background:url(../img/pin-key-education.png) top left no-repeat;
}
#select-athletic {
background:url(../img/pin-key-athletic.png) top left no-repeat;
}
#select-art {
  background:url(../img/pin-key-art.png) top left no-repeat;
    }
    #select-dancing {
        background:url(../img/pin-key-dancing.png) top left no-repeat;
          }
          #select-sales {
                                                                                              background:url(../img/pin-key-sales.png) top left no-repeat;
                                                                                                }
                                                                                                #select-dining {
                                                                                                    background:url(../img/pin-key-dining.png) top left no-repeat;
                                                                                                      }
                                                                                                      #select-parties {
                                                                                                          background:url(../img/pin-key-parties.png) top left no-repeat;
                                                                                                            }
                                                                                                            #select-jobs {
                                                                                                                background:url(../img/pin-key-jobs.png) top left no-repeat;
                                                                                                                  }

                                                                                                                  form input#city {
                                                                                                                      width:40%;
                                                                                                                        }

                                                                                                                        form input#zip-code,
                                                                                                                        form input#ticket-price,
                                                                                                                        form input#rsvp-limit {
                                                                                                                            width:20%;
                                                                                                                              margin-right:15px;
                                                                                                                                }

                                                                                                                                form input#start-date,
                                                                                                                                form input#start-time,
                                                                                                                                form input#end-date,
                                                                                                                                form input#end-time {
                                                                                                                                    width:100px;
                                                                                                                                      }

                                                                                                                                      .sort {
                                                                                                                                          float:right; /* Used to place the sort label and dropdown next to the category heading on Your Post Page */
                                                                                                                                            }

                                                                                                                                            .sort label {
                                                                                                                                                float:left;
                                                                                                                                                  clear:none;
                                                                                                                                                    margin:0 0.5em 1em 0;
                                                                                                                                                      }

                                                                                                                                                      #active-sort-by1,
                                                                                                                                                      #active-sort-by2,
                                                                                                                                                      #active-sort-by3 {
                                                                                                                                                          margin-bottom:.5em;
                                                                                                                                                            }

/* = Global Drop Shadow
----------------------------------- */
#top-search label,
button,
.btn-join,
.sign-in-status #signIn,
a.btn-post-event {
	text-shadow: 	1px 1px 2px rgba(0, 0, 0, 0.25);
	}

.home input,
.home .select {
	box-shadow:		1px 1px 2px rgba(0, 0, 0, 0.25);
	}

#header,
#top-search,
button,
.home .logo-block,
a.btn-post-event,
#content,
#ui-datepicker-div {
	box-shadow:		0px 0px 4px rgba(0,0,0,0.3);
	}


/* = Global Rounded Corners
----------------------------------- */
#header,
.logo-block,
.sign-in-status,
.home .sign-in-form,
#content {
	border-radius:0px 0px 8px 8px;
	}

.sign-in-status .btn-join {
	border-radius:0px 0px 0px 8px;
	}

#top-search,
.sign-in-status #signIn {
	border-radius:0px 0px 8px 0px;
	}

/* = Global Calendar Datepicker
----------------------------------- */
#ui-datepicker-div {
	background:#fff;
	border:1px solid #B3E3E7;
	margin:8px 0 0 -10px;
	position:static;
	}
.ui-datepicker {
	position:static;
	}
*+html #ui-datepicker-div {
	width:194px;
	}
#ui-datepicker-div a {
	color:#777;
	}
.ui-datepicker-header {
	color:#239ea2;
	margin:-13px 0 0 0;
	padding:20px 0 0.4em 0;
	font-size:105%;
	font-weight:bold;
	text-align:center;
	background:transparent url(../../img/cal-top-arrow.png) no-repeat 50% 0;
	}
.ui-datepicker-prev,
.ui-datepicker-next {
	position:relative;
	top:0.1em;
	width:11px;
	height:18px;
	text-indent:-9999px;
	}
.ui-datepicker-prev {
	float:left;
	background:url(../../img/icon-cal-arrow-l.png) 0 0 no-repeat;
	margin-left:9px;
	}
.ui-datepicker-prev:hover {
	background:url(../../img/icon-cal-arrow-l-h.png) 0 0 no-repeat;
	}
.ui-datepicker-next {
	float:right;
	background:url(../../img/icon-cal-arrow-r.png) 0 0 no-repeat;
	margin-right:9px;
	}
.ui-datepicker-next:hover {
	background:url(../../img/icon-cal-arrow-r-h.png) 0 0 no-repeat;
	}
.ui-datepicker-calendar {
	margin:0 4px 4px 4px;
	}
#ui-datepicker-div table {
	font-size:90%;
	}
#ui-datepicker-div table td {
	border:1px solid #fff;
	background:#d9d9d9;
	/* background:#f0f0f0; */
	text-align:center;
	width:30px !important;
	padding:0.3em 0 0.3em 0;
	}
#ui-datepicker-div table td:hover {
	background:#EDF2F2;
	font-weight:bold;
	}
#ui-datepicker-div td:hover a {
	color:#70b820;
	}

.ui-state-disabled {
	color:#989898;
	background:#f0f0f0 !important;
	}

#ui-datepicker-div thead {
	color:#fff;
	background:#239ea2;
	}
#ui-datepicker-div thead tr {
	}
#ui-datepicker-div thead th {
	text-align:center;
	padding:0.3em 0 0.3em 0;
	}

.ui-datepicker-today {
	background:#85c440 !important;
	font-weight:bold;
	}
.ui-datepicker-today a {
	color:#fff !important;
	}

/* = Global Map Styles
----------------------------------- */
#map-box,
#map_canvas {
	z-index:200;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	}

/* = Global Map Control
----------------------------------- */
#top-search-container {
  	position:relative;
  	z-index:777;
	float:left;
	width:96%;
	padding:0.5em 2% .7em 2%;
	color:#fff;
	background:#01a1ad url(../../img/sprite-map-horizontal-repeats.png) repeat-x 0 0;
	}

.btn-search-events {
	display:none;
	margin-top:0.3em;
	text-align:center;
	font-weight:bold;
	font-size:100%;
	letter-spacing:0.01em;
	}

#top-search label {
	display:block;
	color:#fff;
	font-weight:bold;
	letter-spacing:0.02em;
	}

/* = Top Search Label Icons */
#top-search label.icon {
	float:left;
	clear:none;
	margin-top:5px;
  	margin-right:8px;
	height:28px;
	width:26px;
	text-indent:-9999px;
	}

#top-search label.find-event {
	background:url(../../img/data/icon-event-pin-question-26x26.svg) 0 0 no-repeat;
	}
#top-search label.clock {
	background:url(../../img/data/icon-clock-26x26.svg) 0 0 no-repeat;
	}
#top-search label.price {
	width:15px;
	background:url(../../img/data/icon-dollar-sign-15x26.svg) 0 0 no-repeat;
	}

/* Top Search Fields */
#top-search #event,
#top-search .select,
#top-search #date,
#top-search button {
  float:left;
  }

#top-search #event,
#top-search .select,
#top-search #date {
  margin-right:2%;
  }

#top-search #event {
	width:24%;
	}

#top-search .select {
	width:12%;
	}
#top-search select#time-span,
#top-search select#price {
	width:150%; /* Pushes browser default arrow out of view */
	}

#top-search .time-span {
  margin-right:1%;
  }

#top-search #date {
  margin-right:1.5%;
	width:13%;
	background:#fff url(../../img/data/icon-calendar-25x24.svg) no-repeat 95% 50%;
	}


/* = Alerts
----------------------------------- */
.loading {
	position:absolute;
	z-index:880;
	margin-top:20%;
	text-align:center;
	width:100%;
	}
.loading img {
	width:365px;
	height:179px;
	opacity:0.8;
	}


/* = Buttons
----------------------------------- */
#top-search button,
.btn-sign-in,
.map-popup .btn-rsvp,
.map-popup .btn-watch {
	border-radius:6px;
	color:#fff;
	font-weight:bold;
	}

#top-search button,
.btn-sign-in {
	border:none;
	background:#66C13F;
  letter-spacing:0.08em;
	}

.btn-sign-in {
	float:right;
	margin-top:1em;
	background:#01a1ad;
	padding:0.5em 1em 0.5em 1em;
	}
.btn-sign-in:hover {
	background:#66C13F;
	}

#top-search button {
	width:12%;
	padding:0.65em 0 0.6em 0;
	}
#top-search .btn-search svg {
	position:relative;
	top:2px;
	}

.home a.btn-post-event {
	clear:both;
	display:block;
	margin:0 auto;
	width:70%;
	max-width:200px;
	border:2px solid #fff;
	border-radius:6px;
	padding:1em;
	background-color:#66C13F;
	background-image:url(../../img/icon-pin-add.png);
	background-position:8% center;
	background-repeat:no-repeat;
	color:#fff;
	text-indent:11%;
	text-decoration:none;
	font-weight:bold;
	font-size:115%;
	}
	
input[type="submit"]:hover,
#top-search button:hover,
a.btn-post-event:hover {
	background-color:#01a1ad;
	}
	
/* = Main Containers
----------------------------------- */
#header {
	z-index:800;
  margin:0 auto;
	height:auto;
  width:91%;
	padding:0.4em 2% 0.5em 2%;
	background:#f9a21c url(../../img/sprite-map.png) no-repeat -76px -376px;
	}

#header a:hover {
	color:#01A1AD;
	}

.logo-block {
	width:217px;
	}
.logo {
	display:block;
	overflow:hidden;
	width:216px;
	height:46px;
	margin-left:0;
	background:url(../../img/data/logo-gallevent-white-209x34.svg)  7px 5px no-repeat;
	text-indent:-100%;
	}
.tagline {
	display:block;
	margin-right:16px;
	color:#fff;
	text-align:right;
	font-weight:bold;
	font-size:15px;
	}

.center-content #content {
  position:relative;
  float:left;
  margin-left:12%;
  width:75%;
  padding:1em 2% 3em 2%;
  background:#F7F7F7;
  border-radius:8px;
  }

.center-content #content form {
  float:right;
  width:50%;
  }

.center-content #content .left {
  padding:0 4% 0 2%;
  width:42%;
  }

.inside-container {
	margin:2em 1em 2em 1.4em;
	}

#footer {
	padding:0em 3.5% 2em 3.5%;
	text-align:center;
	font-size:85%;
	color:#555659;
	}
#footer ul {
	list-style:none;
	display:block;
	margin:4em 0 1em 0;
	}
#footer ul li {
	display:inline;
	margin-left:1em;
	}