@charset "utf-8";
/* Title: Gallevent Template
** Description: Gallevent Frontend Website Template
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 01-06-2013
** Updated: 03-31-2013
************************************** */

/* = Global Typography */
html,
body {
	background:#a5bfdd;
	font-family:Arial, Helvetica, sans-serif;
	}

h1 {
	color:#01a1ad;
	font-weight:200;
	font-size:210%;
	margin:0;
	}

h2 {
	color:#66C13F;
	font-weight:200;
	font-size:160%;
	margin:1em 0 0 0;
	}

p,
ul,
ol {
	font-size:120%;
	margin:0.6em 0 0 0;
	}

ul,
ol {
	font-size:120%;
	margin:0.6em 0 0 2em;
	}
	

a,
a:link {
	color:#01a1ad;
	text-decoration:none;
	}
a:hover {
	color:#66C13F;
	}

.sign-in-status {
	display:block;
	color:#fff;
	font-size:0.9em;
	}
.sign-in-status a,
.sign-in-status a:link {
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	}

/* = Global Form Elements
----------------------------------- */
input {
	padding-top:0.6em;
	padding-bottom:0.6em;
	padding-left:2.5%;
	padding-right:2.5%;
	}

select {
	-webkit-appearance: none;
	background-color:transparent !important;
	-webkit-background-clip: padding;
  	-moz-background-clip: padding;
	height:100%;
	}

.select {
	padding-top:0.42em;
	padding-bottom:0.42em;
	padding-left:2.5%;
	padding-right:2.5%;
	background:#fff url(../../img/btn-select-dwn-arrow.png) right center no-repeat;
	background-size:contain;
	overflow:hidden;
	}

/* = Global Drop Shadow
----------------------------------- */
label,
button,
.btn-join,
.sign-in-status #signIn,
a.btn-post-event {
	text-shadow: 	1px 1px 2px rgba(0, 0, 0, 0.25);
	}

.home input,
.home .select {
	box-shadow:		1px 1px 2px rgba(0, 0, 0, 0.25);
	}

#header,
.home .logo-block,
a.btn-post-event,
.home #content,
#ui-datepicker-div {
	box-shadow:		0px 0px 4px rgba(0,0,0,0.3);
	}


/* = Global Rounded Corners
----------------------------------- */
#header,
.logo-block,
.home .sign-in-form,
#content {
	border-radius:0px 0px 8px 8px;
	}

.sign-in-status .btn-join {
	border-radius:0px 0px 0px 8px;
	}
	
.sign-in-status #signIn {
	border-radius:0px 0px 8px 0px;
	}

/* = Global Calendar Datepicker
----------------------------------- */
#ui-datepicker-div {
	background:#fff;
	border:1px solid #B3E3E7;
	margin:8px 0 0 -10px;
	position:static;
	}
.ui-datepicker {
	position:static;
	}
*+html #ui-datepicker-div {
	width:194px;
	}
#ui-datepicker-div a {
	color:#777;
	}
.ui-datepicker-header {
	color:#239ea2;
	margin:-13px 0 0 0;
	padding:20px 0 0.4em 0;
	font-size:105%;
	font-weight:bold;
	text-align:center;
	background:transparent url(../../img/cal-top-arrow.png) no-repeat 50% 0;
	}
.ui-datepicker-prev,
.ui-datepicker-next {
	position:relative;
	top:0.1em;
	width:11px;
	height:18px;
	text-indent:-9999px;
	}
.ui-datepicker-prev {
	float:left;
	background:url(../../img/icon-cal-arrow-l.png) 0 0 no-repeat;
	margin-left:9px;
	}
.ui-datepicker-prev:hover {
	background:url(../../img/icon-cal-arrow-l-h.png) 0 0 no-repeat;
	}
.ui-datepicker-next {
	float:right;
	background:url(../../img/icon-cal-arrow-r.png) 0 0 no-repeat;
	margin-right:9px;
	}
.ui-datepicker-next:hover {
	background:url(../../img/icon-cal-arrow-r-h.png) 0 0 no-repeat;
	}
.ui-datepicker-calendar {
	margin:0 4px 4px 4px;
	}
#ui-datepicker-div table {
	font-size:90%;
	}
#ui-datepicker-div table td {
	border:1px solid #fff;
	background:#d9d9d9;
	/* background:#f0f0f0; */
	text-align:center;
	width:30px !important;
	padding:0.3em 0 0.3em 0;
	}
#ui-datepicker-div table td:hover {
	background:#EDF2F2;
	font-weight:bold;
	}
#ui-datepicker-div td:hover a {
	color:#70b820;
	}

.ui-state-disabled {
	color:#989898;
	background:#f0f0f0 !important;
	}

#ui-datepicker-div thead {
	color:#fff;
	background:#239ea2;
	}
#ui-datepicker-div thead tr {
	}
#ui-datepicker-div thead th {
	text-align:center;
	padding:0.3em 0 0.3em 0;
	}

.ui-datepicker-today {
	background:#85c440 !important;
	font-weight:bold;
	}
.ui-datepicker-today a {
	color:#fff !important;
	}

/* = Global Map Styles
----------------------------------- */
#map-box,
#map_canvas {
	z-index:200;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	}

/* = Global Map Control
----------------------------------- */
#top-search {
	float:left;
	width:93%;
	padding:0.9em 3.5% 1.5em 3.5%;
	color:#fff;
	background:#01a1ad url(../../img/sprite-map-horizontal-repeats.png) repeat-x 0 0;
	}

#top-search label {
	display:block;
	color:#fff;
	font-weight:bold;
	letter-spacing:0.02em;
	}

/* = Top Search Label Icons */
#top-search label.icon {
	float:left;
	clear:none;
	margin-top:5px;
	height:28px;
	width:8%;
	text-indent:-9999px;
	background:transparent url(../../img/sprite-map-logos-icons-bgs.png) no-repeat;
	}

#top-search label.find-event {
	background-position:-3px -3px;
	}
#top-search label.clock {
	background-position:-3px -46px;
	}
#top-search label.price {
	background-position:-3px -91px;
	}

/* Top Search Fields */
#top-search .row {
	float:left;
	width:100%;
	margin-top:0.5em;
	}

#top-search #event {
	float:right;
	width:85%;
	}

#top-search .select {
  	float:left;
	margin-left:2%;
	width:46%;
	}
#top-search select#time-span,
#top-search select#price {
	width:150%; /* Pushes browser default arrow out of view */
	}

#top-search #date {
	float:right;
	width:32%;
	background:#fff url(../../img/icon-calendar.png) no-repeat 95% 50%;
	}

/* = Buttons
----------------------------------- */
#top-search button,
.btn-sign-in,
.map-popup .btn-rsvp,
.map-popup .btn-watch {
	border-radius:6px;
	color:#fff;
	font-weight:bold;
	}

#top-search button,
.btn-sign-in {
	border:2px solid #fff;
	background:#66C13F;
	}

.btn-sign-in {
	float:right;
	margin-top:1em;
	background:#01a1ad;
	padding:0.5em 1em 0.5em 1em;
	}
.btn-sign-in:hover {
	background:#66C13F;
	}

.sign-in-status .btn-join,
.sign-in-status #signIn {
	float:left;
	clear:none;
	width:129px;
	padding:1.4em 0 1em 0;
	text-align:center;
	background:#01a1ad url(../../img/sprite-map-horizontal-repeats.png) repeat-x 0 -327px;
	}

.sign-in-status .btn-join:hover,
.sign-in-status #signIn:hover {
	color:#fff !important;
	background:#66C13F;
	}

#top-search button {
	float:right;
	width:37%;
	padding:0.4em 0 0.4em 0;
	}

#top-search button .icon-looking-glass {
	overflow:hidden;
	display:inline-block;
	width:20px;
	height:19px;
	text-indent:-9999px;
	background:url(../../img/sprite-map-logos-icons-bgs.png) no-repeat -44px -94px;
	}
	
.home a.btn-post-event {
	clear:both;
	display:block;
	margin:0 auto;
	width:70%;
	max-width:200px;
	border:2px solid #fff;
	border-radius:6px;
	padding:1em;
	background-color:#66C13F;
	background-image:url(../../img/icon-pin-add.png);
	background-position:8% center;
	background-repeat:no-repeat;
	color:#fff;
	text-indent:11%;
	text-decoration:none;
	font-weight:bold;
	font-size:115%;
	}
	
input[type="submit"]:hover,
#top-search button:hover,
a.btn-post-event:hover {
	background-color:#01a1ad;
	}
	
/* = Main Containers
----------------------------------- */
#header {
	z-index:800;
	height:auto;
	padding:20px 2% 20px 2%;
	background:#f9a21c url(../../img/sprite-map.png) no-repeat -76px -376px;
	}

#header a:hover {
	color:#01A1AD;
	}

.logo-block {
	width:217px;
	}
.logo {
	display:block;
	overflow:hidden;
	width:217px;
	height:45px;
	margin-left:0;
	background:url(../../img/logo-gallevent-white.png) top left no-repeat;
	text-indent:-100%;
	}
.tagline {
	display:block;
	margin-right:16px;
	color:#fff;
	text-align:right;
	font-weight:bold;
	font-size:15px;
	}

.inside-container {
	margin:2em 1em 2em 1.4em;
	}

#footer {
	padding:0em 3.5% 2em 3.5%;
	text-align:center;
	font-size:85%;
	color:#555659;
	}
#footer ul {
	list-style:none;
	display:block;
	margin:4em 0 1em 0;
	}
#footer ul li {
	display:inline;
	margin-left:1em;
	}

/* = Media Queries
----------------------------------- */
@media screen and (max-width: 940px) {
	/* = Top Search */
	#top-search {
		border-radius:8px 8px 0px 0px;
		}
	
	/* = Top Search Label Icons */
	#top-search label.icon {
		width:11%;
		}
	
	/* Top Search Fields */	
	#top-search #event {
		width:82%;
		}
	#top-search .select {
		margin-bottom:0.5em;
		width:82%;
		}
	#top-search #date {
		width:82%;
		}
	
	/* Top Search Button */	
	#top-search button {
	width:87%;
	padding:0.4em 0 0.4em 0;
	}

}