@charset "utf-8";
/* Title: Home Page
** Description: Styles Specific to Home Page
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 10-13-2013
** Updated: 06-15-2014
************************************** */


/* = Header
-------------------------------------- */
#header {
	background:none;
	}
.logo-block {
	z-index:800;
	}

.btn-join,
.btn-sign-in {
	display:block;
	margin:0;
	padding:0.8em 1.2em;
	font-weight:bold;
	color:#fff !important;
	transition:all 0.5s ease;
	box-sizing:border-box;
	border:2px solid rgba(255, 255, 255, 0);
	}

.btn-join {
	background:rgba(133, 196, 64, 1);
	}
.btn-sign-in {
	background:rgba(5, 159, 172, 1);
	}

.btn-join:hover,
.btn-sign-in:hover {
	color:#fff;
	border:2px solid #fff;
	}

.btn-join:hover {
	background:rgba(133, 196, 64, 0.7);
	}
.btn-sign-in:hover {
	background:rgba(5, 159, 172, 0.7);
	}

@media (max-width: 700px) {
	.btn-join,
.btn-sign-in {
	display:none;
	}
}

@media (min-width: 800px) {
	.gmnoprint {
		display:block;	
		}
}

@media (min-width: 1000px) {
	#btn-menu {
		background: rgba(5, 159, 172, 0.9);
		border-radius: 5px 0 0 5px;
		}
}

