@charset "utf-8";
/* Title: Home Page
** Description: Styles Specific to Home Page
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 10-13-2013
** Updated: 10-26-2014
************************************** */

.marketing,
.photos .row1col1,
.photos .row1col2,
.photos .row1col3,
.photos .row2col1,
.photos .row2col2,
.photos .row2col3 {
	float:left;
	}

.marketing {
	position:relative;
	overflow:hidden;
	height:32em;
	color:#fff;
	}

.marketing .angled-block {
	position:absolute;
	top:0;
	left:0;
	width:21em;
	height:120%;
	padding:3em 9em 3em 3.5em;
	background:url(../../img/data/blue-angle-80.svg) top right no-repeat;
	}

.angled-block h2 {
	color:#fff;
	font-size:240%;
	}
.angled-block h2 strong {
	display:block;
	margin-top: -0.2em;
	font-size:150%;
	font-weight:200;
	}

.angled-block p {
	font-size:150%;
	width:14em;
	opacity:0.8;
	}

.photos {
	height:100%;
	}

.photos .row1col1,
.photos .row1col2,
.photos .row1col3,
.photos .row2col1,
.photos .row2col2,
.photos .row2col3 {
	width:33.3333333%;
	height:50%;
	background-size:cover;
	text-indent:-9999px;
	}

.photos .row2col3 {
	position:relative;
	text-indent:0;
	font-size:80%;
	text-align:right;
	}

.photos .row2col3 span {
	position:absolute;
	bottom:1em;
	right:1em;
	}

.photos .row1col1 {
	background:url(../../img/photo1-800w.jpg) center no-repeat;
	}
.photos .row1col2 {
	background:url(../../img/photo2-800w.jpg) center no-repeat;
	}
.photos .row1col3 {
	background:url(../../img/photo3-800w.jpg) center no-repeat;
	}
.photos .row2col1 {
	background:url(../../img/photo4-800w.jpg) center no-repeat;
	}
.photos .row2col2 {
	background:url(../../img/photo5-800w.jpg) center no-repeat;
	}
.photos .row2col3 {
	background:url(../../img/photo6-800w.jpg) center no-repeat;
	}


.marketing {
	width:100%;
	}

#sponsors {
	position:relative;
	z-index:999;
	float:left;
	width:100%;
	box-shadow:0 -8px 15px rgba(0, 0, 0, 0.04);
	}

#sponsors .center {
	margin:4.7em 24px 0 24px;
	padding-bottom:3em;
	text-align:center;
	background:#fff;
	}

#sponsors h3 {
	position: relative;
	top: -35px;
	margin: 0 auto;
	max-width: 361px;
	min-height: 55px;
	padding: 1em 0 0 0;
	color: #fff;
	font-size: 140%;
	text-align: center;
	font-weight: normal;
	background: url(../../img/data/angle-2side-blue-361x55.svg) center no-repeat;
	}

#sponsors .row1 {
	margin-top:-15px;
	}

#sponsors .green-and-go {
	display:inline-block;
	position:relative;
	margin-bottom: 3em;
	top:7px;
	}

#sponsors .wolfpak-labs {
	margin:0 80px;
	}

#sponsors .pixelkeet {
	position:relative;
	top:24px;
	}

#sponsors .center ul {
	margin:0 auto;
	margin-top:2.2em;
	max-width:1000px;
	}

#sponsors .center ul li {
	display:inline-block;
	margin:0 1em 0.5em 0;
	font-size:120%;
	color:#303d40;
	opacity:0.65;
	}