@charset "utf-8";
/* Title: Home Page
** Description: Styles Specific to Home Page
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 01-13-2013
** Updated: 08-18-2013
************************************** */

/* = Remove Border on Form Inputs and Selects */
.home input,
.home .select {
	border:none;
	}

/* = Place Header in Upper Left for Default View */

/*
.home .logo-block {
	position:relative;
	z-index:800;
	width:100%;
	padding:0.4em 0 0.5em 0;
	background:#f9a21c url(../../img/sprite-map-logos-icons-bgs.png) no-repeat -86px -64px;
	overflow:hidden;
	}
.home .logo-block a {  
	color:#F8B31B;
	}

.home .logo-block .logo {
	margin: 0 auto;
	}

.home .logo-block .tagline {
	position:relative;
	right:15px;
	margin:0 auto;
	margin-top:-0.3em;
	width:217px;
	text-align:right;
	}
*/
  
.home .sign-in-status {
	position:relative;
	z-index:700;
	margin-top:-8px;
	width:100%;
	height:auto;
	}

.home .sign-in-status #signIn {
	float:left;
	clear:none;
	width:100%;
	padding:1em 0 .7em 0;
	text-align:center;
	background:#01a1ad url(../../img/sprite-map-horizontal-repeats.png) repeat-x 0 -327px;
	}

.home .sign-in-status #signIn:hover {
	color:#fff !important;
	background:#66C13F;
	}

.home .sign-in-status .bar-vertical {
	float:left;
	width:1%;
	height:100%;
	padding:1em 0 .7em 0;
	text-indent:-9999px;
	background:url(../../img/sprite-map-vertical-repeats.png) repeat-y 0 0;
	}

.home .sign-in-form {
	float:left;
	margin-top:-60px;
	width:85%;
	padding:60px 7.5% 1.5em 7.5%;
	background:#66C13F;
	}

.home .sign-in-form label {
	display:block;
	margin-top:0.5em;
	color:#fff;
	font-weight:bold;
	}

.home .sign-in-form input[type="text"],
.home .sign-in-form input[type="password"] {
	width:96%;
	padding:0.5em 2% 0.5em 2%;
	}

/* = Place Home Page Content (Pin Key) in Upper Right */
.home #content {
	z-index:650;
	position:absolute;
	top:0;
	right:0;
	width:80%;
	background:#f7f7f7;
	}

/* = Top Search Customizations */
.home #top-search input {
  padding-left:1%;
  padding-right:1%;
  margin-bottom:0;
  }
.home #top-search #date {
  padding-right:2%;
  }
.home #top-search .select {
  padding-left:0.5%;
  padding-right:2%;
  }


.home #footer {
  z-index: 600;
  position:fixed;
  float:left;
  bottom:0;
  margin:0 0 0 30%;
  width:40%;
  padding:1em 2% 1em 2%;
  background:#f7f7f7;
  border-radius:8px 8px 0 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  }

.home #footer ul {
  float:left;
  margin:0;
  }
.home #footer ul li {
  margin-left:0;
  }
.home #footer .copyright {
  float:right;
  }


/* = Map */
#map-box,
#map_canvas {
	top:3.39em;
	}


/* = Media Queries
----------------------------------- */
@media screen and (max-width: 1300px) {
  .home #header {
    margin-left:0;
    }    
  .home #content {
    margin-right:0;
    width:80%;
    }
}

@media screen and (max-width: 1148px) {
  .home #header {
    width:12%;
    }
  .home .logo {
    width:75px;
    height:46px;
    background:url(../../img/data/logo-icon-gallevent-white-69x34.svg) 5px 5px no-repeat;
    }
  .home .tagline {
    display:none;
    }

  .home .sign-in-status #signIn {
	width:100%;
    border-radius:0 0 8px 8px;
	}
  .home .sign-in-status #signIn {
    border-radius:0 0 8px 8px;
    }
  .home .sign-in-status .bar-vertical {
    display:none;
    }

  .home .sign-in-form {
    margin-top:-2.75em;
    width:200%;
  	padding:3em 15% 1.5em 1em;
    border-radius:0 8px 8px 8px;
    }
 
  .home #content {
    width:88%;
    }
}

@media screen and (max-width: 1030px) {
  .home #top-search label.icon {
    display:none;
    }
  .home #top-search .select {
    width:15%;
    }
  .home #top-search #date {
    width:17%;
    }
}

@media screen and (max-width: 780px) {
  .home #content {
    top:auto;
    bottom:0;
    width:100%; 
    }
  .home #top-search {
    border-radius:0;
    }
  .home #top-search .select {
    width:16%;
    }
  .home #top-search button {
    position:relative;
	width:10%;
    text-indent:9999px;
	}
  .home #top-search button img {
    position:absolute;
    top:.6em;
    left:35%;
    }



.btn-search-events {
	display:block;
	}

#top-search-container #top-search {
	display:none;
	}

#top-search-container:focus ~ #top-search,
#top-search-container:hover #top-search {
    display:block;
	}
#top-search-container:focus ~ .btn-search-events,
#top-search-container:hover .btn-search-events {
    display:none;
	}


  .home #header {
    width:100%;
    height:2.5em;
    }
  .home .logo-block {
    width:50%;
    height:100%;
    padding:0;
    border-radius:0;
	overflow:hidden;
    }
  .home .logo {
    width:75px;
    height:2.5em;
	float:left;
    background:url(../../img/data/logo-icon-gallevent-white-69x34.svg) 5px 3px no-repeat;
    }

  .home .sign-in-status {
    position:absolute;
    top:0;
    right:0;
    float:right;
    padding:0;
    width:50%;
    }
  
  .home .sign-in-status #signIn {
    padding:1.2em 0 0.85em 0;
    }
  .home .sign-in-status #signIn {
    border-radius:0;
    }

  .home .sign-in-form {
    margin-top:0em;
    width:100%;
	padding:0.5em 1em 1em 1em;
    border-radius:0;
    }
  .home .sign-in-form input {
	margin:0;
	width:92% !important;
	}
  .home .sign-in-form button {
	float:left;
	width:96%;
	padding:1em 0 1em 0;
	}

  .home #top-search {
	z-index:800;
	}

  .home #top-search label {
    width:6.5%;
    display:none !important;
    }
  .home #top-search #event {
    width:98%;
    margin-bottom:0;
    }
  .home #top-search .select {
    width:53.5%;
    margin-top:0.5em;
    }
  .home #top-search #date {
    float:right;
    width:38%;
    margin-right:0;
    margin-top:0.5em;
    }
  .home #top-search button {
    float:right;
    margin-top:0.5em;
    width:41%;
    text-indent:0;
    } 
  .home #top-search button img {
    top:.6em;
    left:10%;
    display:none;
    }
}
