@charset "utf-8";
/* Title: Map Pop-Ups
** Description: Pins and Pop-Ups Used on Map
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 03-31-2013
** Updated: 03-29-2015
************************************** */

.pin-hover {
	position:relative;
	left:20px;
	display:block;
	background:#fff;
	width:200px;
	color:#fff;
	border-radius:0 4px 4px 4px;
	}
.pin-hover .arrow {
	position:absolute;
	left:-7px;
	width:7px;
	height:7px;
	text-indent:9999px;
	background: url(../../img/blue-arrow-80-7x7.png) 0 0 no-repeat;
	}
.pin-hover .event-name {
	display:block;
	margin:1em;
	font-size:140%;
	}

/* = Map Pin Pop-Up */
.map-popup {
	overflow-y:hidden;
	}

.map-popup .name,
.map-popup .name span,
.map-popup .name .category-icon {
	float:left;
	}
.map-popup .name span {
	font-size:150%;
	line-height:1.1em;
	width: 210px;
	}



.event-name .pop-up-banner {
	position:relative;
	z-index:900;
	margin-bottom:0.5em;
	}
.event-name .category-icon {
	float:left;
	margin:0 0.5em 0 0;
	}
.event-name .pop-up-banner+.category-icon {
	float:right;
	margin:-1.2em 10px 0 0;
	border:2px solid #fff;
	position:relative;
	z-index:1000;
	}

.map-popup .price,
.map-popup .date-time,
.map-popup .description,
.map-popup .address {
	float:left;
	margin-top:0.4em;
	}

.map-popup .price {
	font-weight:bold !important;
	}

.map-popup .date-time {
	float:right;
	}
	


/* = Map Pin Pop-Up Action Links */
.map-popup .mod-event {
	clear:both;
	}
.map-popup .mod-event a {
	font-style:italic;
	text-decoration:underline;
	color:#f68d1f;
	font-size:110%;
	}
.map-popup .mod-event a:hover {
	text-decoration:none;
	color:#85c440;
	}
.map-popup .mod-event .warning {
	float:right;
	}
.map-popup .mod-event a.warning {
	font-style:italic;
	text-decoration:underline;
	color:#d62121;
	}
.map-popup .mod-event a.warning:hover {
	text-decoration:none;
	color:#F2581C;
	}

.map-popup .btns {
	clear:both;
	float:left;
	margin:0 0 0.5em 0;
	font-weight:bold !important;
	}

.map-popup .btns a {
	float:left;
	/* margin:1em 0.5em 0 0; */
	margin:1em 0.5em 0.5em 0;
	border-radius:4px;
	/* padding:.4em .6em .4em .6em; */
	padding:.5em .6em .6em .6em;
	font-weight:bold !important;
	font-size:110%;
	color:#fff;
	}

.map-popup .btn-rsvp {
	background:#66C13F;
	width:200%;
	text-align:center;
	}

.map-popup .btn-rsvp:hover {
	background:#8cd734;
	}
.map-popup .btn-watch {
	background:#F9A21C;
	}
.map-popup .btn-watch:hover {
	background:#fcb510;
	}