@charset "utf-8";
/* Title: Map Pop-Ups
** Description: Pins and Pop-Ups Used on Map
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 03-31-2013
** Updated: 09-22-2013
************************************** */

/* = Map Pin Pop-Up */
.map-popup {
	width:300px;
	color:#58595b;
	overflow-y:hidden;
	}

.map-popup .event-name {
	font-size:150%;
	line-height:1.1em;
	margin-bottom:0.35em;
	color:#01A1AD;
	}
.map-popup .event-name a {
	color:#01A1AD;
	}
.map-popup .event-name a:hover {
	color:#85c440; /* green */
	}
.event-name .pop-up-banner {
	position:relative;
	z-index:900;
	margin-bottom:0.5em;
	}
.event-name .category-icon {
	float:left;
	margin-right:0.5em;
	}
.event-name .pop-up-banner+.category-icon {
	float:right;
	margin:-1.2em 10px 0 0;
	border:2px solid #fff;
	position:relative;
	z-index:1000;
	}

.map-popup .price {
	color:#01A1AD;
	font-size:110%;
	}
.map-popup .price strong {
	color:#70b820;
	}

.map-popup .description,
.map-popup .address {
	margin:.5em 0 0 0;
	}
.map-popup .address {
	
	}

/* = Map Pin Pop-Up Action Links */
.map-popup .mod-event {
	clear:both;
	}
.map-popup .mod-event a {
	font-style:italic;
	text-decoration:underline;
	color:#f68d1f;
	}
.map-popup .mod-event a:hover {
	text-decoration:none;
	color:#85c440;
	}
.map-popup .mod-event .warning {
	float:right;
	}
.map-popup .mod-event a.warning {
	font-style:italic;
	text-decoration:underline;
	color:#d62121;
	}
.map-popup .mod-event a.warning:hover {
	text-decoration:none;
	color:#F2581C;
	}

.map-popup .btns {
	margin:0 0 0.5em 0;
	float:left;
	}

.map-popup .btn-rsvp,
.map-popup .btn-watch {
	padding:.4em .6em .4em .6em;
	margin:1em 0.5em 0 0;
  	float:left;
	}

.map-popup .btn-rsvp {
	background:#66C13F;
	}

.map-popup .btn-rsvp:hover {
	background:#8cd734;
	}
.map-popup .btn-watch {
	background:#F9A21C;
	}
.map-popup .btn-watch:hover {
	background:#fcb510;
	}