@charset "utf-8";
/* Title: Pin Key
** Description: Control for Event Categories
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 03-31-2013
** Updated: 02-16-2014
************************************** */

/* = Position Pin Key Within Container */
#pin-key {
	position: absolute;
	float:left;
	z-index: 800;
	left: 0;
	top:100%;
	margin-top:-80px;
	width:100%;
	height:3em;
	padding:0 0.5em 0 0.5em;
	background: #fff;
	color:#43555A;
	}

#pin-key .details {
	display:none;
  	}

#pin-key a {
	display:block;
	width:31px;
	height:40px;
	padding:0 0.5em 0 0.5em;
	}

#pin-key a:hover {
	}

#pin-key a:hover .details {
	display:block;
	}

#pin-key .arrow {
	display:none;
	position: relative;
	top: -10px;
	width: 16px;
	height: 10px;
	margin: 0 auto;
	text-indent: -9999px;
	background-image: url(../../img/data/arrow-white-32x20.svg);
	background-size: contain;
	}


#pin-key a.selected {
	color:#b3e2e6;
	background-color:#fff;
	}
#pin-key a.selected .arrow {
	display:block;
	}
#pin-key a.disabled {
	opacity:0.5;
	}





/* = Specific Cateogry Styles */
.networking,
.education,
.fairs,
.athletic,
.art,
.dancing,
.sales,
.dining,
.nightlife,
.jobs {
	display:block;
	float:left;
	background-position:center 8px;
	background-repeat:no-repeat;
	}
.networking {
	background-image:url(../../img/data/pin-networking.svg);
	}
.education {
	background-image:url(../../img/data/pin-education.svg);
	}
.fairs {
	background-image:url(../../img/data/pin-fairs.svg);
	}
.athletic {
	background-image:url(../../img/data/pin-athletic.svg);
	}
.art {
	background-image:url(../../img/data/pin-art.svg);
	}
.dancing {
	background-image:url(../../img/data/pin-dancing.svg);
	}
.sales {
	background-image:url(../../img/data/pin-sales.svg);
	}
.dining {
	background-image:url(../../img/data/pin-dining.svg);
	}
.nightlife {
	background-image:url(../../img/data/pin-nightlife.svg);
	}
.jobs {
	background-image:url(../../img/data/pin-jobs.svg);
	}
