@charset "utf-8";
/* Title: Pin Key
** Description: Control for Event Categories
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 03-31-2013
** Updated: 09-22-2013
************************************** */

/* = Position Pin Key Within Container */
#pin-key {
	position:relative;
	z-index:400;
	float:right;
	margin:0;
	width:25%;
	height:120%;
	padding:0;
	list-style:none;
	font-size:100%;
	background:#f7f7f7;
	box-shadow:		-1px 1px 2px rgba(0, 0, 0, 0.25);
	}

#pin-key li {
	border-bottom:1px solid #d2d2d2;
	}
#pin-key li:hover {
	background:#fff;
  	}

#pin-key li a {
	display:block;
	padding:1em 45px 0 67px;
	/* margin:0 45px 0 20px; */
	min-height:32px;
	/* padding:1em 0 0 45px; */
	color:#43555A;
	transition: min-height 2s;
	-webkit-transition: min-height 2s; /* Safari */
  	}
#pin-key li a.selected {
	color:#303d40;
	background-color:#fff;
	}
#pin-key li a.disabled {
	opacity:0.5;
	}


#pin-key li a .details b {
	display:block;
	padding:0.2em 0 0 0;
	}

#pin-key li a .details i {
	display:block;
	height:0;
	color:#555;
	font-size:95%;
	opacity:0;
	overflow:hidden;
	transition: height 1s, opacity 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
	-webkit-transition: height 1s, opacity 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19); /* Safari */
	}

#pin-key li a:hover .details i {
	margin-bottom:0em;
	height:1.5em;
	opacity:1;
 	}

/* = Pin Key Category */
/*
#pin-key li {
  display:inline;
  }

#pin-key li a {
  position:relative;
  width:5%;
	float:left;
	border-right:1px solid #d2d2d2;
	padding:3.1em 0.8% 0 0.8%;
	background-color:#f7f7f7;
	background-position: center;
	background-repeat:no-repeat;
	font-weight:bold;
	color:#000;
	text-decoration:none;
  	transition: width 0.5s;
	}

#pin-key li a .arrow {
  display:none;
  position:absolute;
  }

#pin-key li a.active .arrow {
  display:block;
  width:100%;
  left:-0.85%;
  right:-0.85%;
  height:15px;
  background:url(../../img/pin-block-down-arrow.png) no-repeat center 0;
  background-size:contain;
  }

#pin-key li a.active {
  background-color:#fff;
  }
 */

/* = Pin Key Category Details */
/*
#pin-key li a .details {
  display:none;
	}

#pin-key li a:hover {
  position:relative;
  width:20%;
  background-position: 1em center;
  }
#pin-key li a:hover .details {
  position:absolute;
  top:.85em;
  left:4em;
  height:1.35em;
  display:block;
  overflow:hidden;
  margin-bottom:-1em;
  color:#555;
  font-size:95%;
  }
 */

/* = Pin Key Category Description */
/*
#pin-key li a i {
	display:none;
	color:#555659;
	font-weight:normal;
	}
#pin-key li a:hover {
	background-color:#fff;
	}
#pin-key li a:hover i {
	}
*/

/* = Specific Cateogry Styles */
.networking,
.education,
.fairs,
.athletic,
.art,
.dancing,
.sales,
.dining,
.parties,
.jobs {
	background-position:19px 1em;
	background-repeat:no-repeat;
	}
.networking {
	background-image:url(../../img/data/pin-networking-31x32.svg);
	}
.education {
	background-image:url(../../img/data/pin-education-31x32.svg);
	}
.fairs {
	background-image:url(../../img/data/pin-fairs-festivals-31x32.svg);
	}
.athletic {
	background-image:url(../../img/data/pin-athletic-31x32.svg);
	}
.art {
	background-image:url(../../img/data/pin-arts-31x32.svg);
	}
.dancing {
	background-image:url(../../img/data/pin-dancing-v2-31x32.svg);
	}
.sales {
	background-image:url(../../img/data/pin-sales-31x32.svg);
	}
.dining {
	background-image:url(../../img/data/pin-dining-31x32.svg);
	}
.parties {
	background-image:url(../../img/data/pin-nightlife-parties-31x32.svg);
	}
.jobs {
	background-image:url(../../img/data/pin-jobs-31x32.svg);
	}

/* = Media Queries
----------------------------------- */
/*
@media screen and (max-width: 1230px) {
	#pin-key li a:hover i {
		}
}

@media screen and (max-width: 780px) {
  #pin-key {
	position:absolute;
	z-index:699;
	top:-3.1em;
	width:100%;
	background:#f7f7f7;
	}
  #pin-key li a.active .arrow {
	display:block;
	width:100%;
	top:-0.9em;
	left:-0.85%;
	right:-0.85%;
	height:15px;
	background:url(../../img/pin-block-up-arrow.png) no-repeat 0 0;
	background-size:100% 15px;
	}
  #pin-key li a,
  #pin-key li a:hover {
    width:10.7%;
    background-position:center;
    }  
  #pin-key li:last-of-type a {
    border-right:none;
    }
  #pin-key li a:hover .details {
    display:none;
    }
}
*/