@charset "utf-8";
/* Title: User Control Pages
** Description: Styles for User Control Section Pages
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 03-31-2013
** Updated: 08-03-2014
************************************** */

html,
body {
	background:#f9f9f9;
	}

.signed-in #wrapper {
	position:relative;
	margin:5em 1.8em 0 1.8em;
	}

header {
	background:rgba(255,255,255,1);
}

#container {
	padding-bottom:2em;
	}

.signed-in #map-box {
	right:0;
	left:auto;
	width:50%;
	height:100%;
	}
.signed-in #map_canvas {
	width:100%;
	height:100%;
	}

.signed-in #content {
	float:left;
	}



#container {
	float: left;
	}

/* = Top Navigation */
#top-nav {
	position:fixed;
	bottom:0;
	float:left;
	width:100%;
	text-align:center;
	background:#fff;
	border-top:1px solid #E9E9E9;
	}

#top-nav .tab {
	float:left;
	width:25%;
	padding:1em 0 1em 0;
	color:#494949;
	box-sizing:border-box;
	}

#top-nav .tab:hover {
	text-decoration:none;
	}

.l1 {
	border-bottom:4px solid #85C440;
	}

.l2 {
	border-bottom:4px solid #F0C419;
	}
	
.l3 {
	border-bottom:4px solid #F89C1C;
	}

.l4 {
	border-bottom:4px solid #F15A5A;
	}

.post-event #content,
.posts #content {
	width: 50%;
	background:#f9f9f9;
	}

.btn-edit {
	display:block;
	margin-bottom:1em;
	}

.row {
	float:left;
	padding-top:1em;
	width:100%;
	border-top:1px solid #CCC;
	}

.no-activity {
	float:left;
	padding:1em 0 3em 0;
	width:100%;
	text-align:center;
	background:#F9F9F9;
	border:2px solid #EAEAEA;
	color:#059fac;
	}

.no-activity h2,
.no-activity h3 {
	color:#868789;
	}
	
.card {
	float:left;
	margin-bottom:1em;
	width:100%;
	}

.card .pic {
	float:left;
	margin-right:1em;
	background:#CCC;
	}

.card .pic,
.card .pic img {
	width:80px;
	height:80px;
	}

.bio {
	float:left;
}

.summary p {
	margin:0;
	font-size:95%;
	color:#868789;
	}

.summary .price {
	display:inline-block;
	margin-right: 1em;
	min-width:5em;
	}

.datebook #container,
/* .posts #container, JESS */
.groups #container {
	width:50%;
	padding-right:1.8em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing:border-box;
	}


/* = Specific Section Styles 
** ************************* */

/* = Specific Color Coded Header and Heading Styles */

.post-event h1 {
	color:#2D95BF;
	}

.posts h1,
.posts .l1,
header .l1:hover {
	color:#85C440 !important;
	}
.posts .l1,
.posts .l1:hover {
	background:#85C440;
}

.datebook h1,
.datebook .l2,
header .l2:hover {
	color:#F0C419 !important;
	}
.datebook .l2,
.datebook .l2:hover {
	background:#F0C419 !important;
}
	
.groups h1,
.groups .l3,
header .l3:hover {
	color:#F89C1C !important;
	}
.groups .l3,
.groups .l3:hover {
	background:#F89C1C !important;
}

.profile h1,
.profile h2,
header .l4:hover {
	color:#F15A5A !important;
	}

.profile .l4,
.profile .l4:hover {
	background: #F15A5A;
}

.posts .l1,
.posts .l1:hover,
.datebook .l2,
.datebook .l2:hover,
.groups .l3,
.groups .l3:hover,
.profile .l4,
.profile .l4:hover {
	color: #fff !important;
}

.post-event #header .btn1,
.datebook #header .l1,
.posts #header .l2,
.groups #header .l3,
.profile #header .l4,
.signed-in #header .btn1:hover,
.signed-in #header .l1:hover,
.signed-in #header .l2:hover,
.signed-in #header .l3:hover,
.signed-in #header .l4:hover {
	transition: all 0.2s ease;
	}

.profile #container,
.profile #content,
.posts #container {
	width:100%;
	}


/* = Specific to Your Posts */
.posts #container .btn1 {
	float:right;
	margin-top:0.67em;
	font-size:115%;
	}

.posts #container .btn1:hover {
	text-decoration:none;
	}



/* = Specific to Your Profile */


/*

.profile .col1 {
	padding-right: 4em;
	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
	}

.profile .col2.your-info p {
	margin:0 0 0.5em 0;
	}

.profile .col2.your-info p b {
	width: 8em;
	display:inline-block;
	color:#868789;
	font-weight:normal;
	}
*/


.profile .card .pic {
	width:150px;
	height:150px;
	}

.profile .card .pic img {
	width:150px;
	height:150px;
	}

.profile .card .address {
	margin-bottom:0.5em;
	}

.profile .card p b {
	color:#85c440;
	}

.profile .btns {
	display:block;
	margin: 1em 0 2em 0;
	}

@media (min-width: 1000px) {
	/* = Top Navigation */
	#top-nav {
		position:absolute;
		left:-16em;
		margin-left:50%;
		width:30em;
		border-top:none;
		border-left:1px solid #f7f7f7;
		border-right:1px solid #f7f7f7;		
		}
	
	#top-nav .tab {
		padding:1.5em 0 0.6em 0;
		width:25%;
		}
}