@charset "utf-8";
/* Title: User Control Pages
** Description: Styles for User Control Section Pages
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 03-31-2013
** Updated: 06-17-2014
************************************** */

html,
body {
	background:#fff;
	}

.signed-in #wrapper {
	position:relative;
	margin:5em 1.8em 0 1.8em;
	}

#container {
	padding-bottom:2em;
	}

.signed-in #map-box {
	right:0;
	left:auto;
	width:50%;
	height:100%;
	}
.signed-in #map_canvas {
	width:100%;
	height:100%;
	}

.signed-in #content {
	float:left;
	}

fieldset {
	margin:0 0 2em 1.4em;
	}

legend {
	margin-left:-2.5em;
	font-size:130%;
	color:#f89c1c;
	}
legend b {
	display:inline-block;
	margin:0 0.5em 0 0;
	width:2em;
	height:1.7em;
	color:#fff;
	padding-top:0.3em;
	text-align:center;
	background:#f89c1c;
	}

label {
	margin:1em 0 0 0;
	display:block;
	clear:both;
	}

select,
input[type="text"],
input[type="password"],
textarea {
	width:100%;
	max-width:425px;
	}

textarea {
	display:block;
	clear:both;
	}

input#p-start-date,
input#p-start-time,
input#start-date,
input#start-time,
input#end-date,
input#end-time,
input#rsvp-close-date,
input#rsvp-close-time {
	max-width:140px;
	}

.guest-l-or-tickets-btns {
	float: left;
	margin-bottom: 1em;
	}

.btn-guest-list,
.btn-tickets {
	float:left;
	font-weight:bold;
	font-size:120%;
	border:3px solid #239ea2;
	border-radius:8px;
	padding: 1.5em 1em 1.5em 0;
	color:#239ea2;
	}

.btn-guest-list {
	background:url(../../img/data/icon-guest-list-teal-37x24.svg) 20px center no-repeat;
	margin-right:0.5em;
	text-indent: 75px;
	}
.btn-guest-list:hover {
	background:url(../../img/data/icon-guest-list-green-37x24.svg) 20px center no-repeat;
	border:3px solid #85c440;
	color:#85c440;
	}

.btn-tickets {
	background:url(../../img/data/icon-ticket-teal-43x28.svg) 20px center no-repeat;
	text-indent: 75px;
	}
.btn-tickets:hover {
	background:url(../../img/data/icon-ticket-green-43x28.svg) 20px center no-repeat;
	border:3px solid #85c440;
	color:#85c440;
	}

#footer {
	width:50%;
	}

#container {
	float: left;
	background: #fff;
	}

/* = Top Navigation */
#top-nav a.tab {
	margin-top:0em;
	margin-right:0.5em;
	border-radius:5px;
	padding:0.7em 1em 0.7em 1em;
	letter-spacing:0.01em;
	color:#fff;
	}


.post-event #content {
	float: left;
	width: 50%;
	background: #fff;
	}

.btn-edit {
	display:block;
	margin-bottom:1em;
	}

.row {
	float:left;
	padding-top:1em;
	width:100%;
	border-top:1px solid #CCC;
	}

.card {
	float:left;
	margin-bottom:1em;
	width:100%;
	}

.card .pic {
	float:left;
	margin-right:1em;
	background:#CCC;
	}

.card .pic,
.card .pic img {
	width:80px;
	height:80px;
	}

.bio {
	float:left;
}

.summary p {
	margin:0;
	font-size:95%;
	color:#868789;
	}

.summary .price {
	display:inline-block;
	margin-right: 1em;
	min-width:5em;
	}

.datebook #container,
.posts #container,
.groups #container {
	width:50%;
	padding-right:1.8em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing:border-box;
	}


/* = Specific Section Styles */

/* = Specific Color Coded Header and Heading Styles */
.signed-in #header .btn-sign-in {
	margin-top:0.8em;
	color:#059fac;
	}

.post-event #header {
	border-bottom:2px solid #f89c1c;
	}
.datebook #header {
	border-bottom:2px solid #f15a5a;
	}
.posts #header {
	border-bottom:2px solid #f0c419;
	}
.groups #header {
	border-bottom:2px solid #4eba6f;
	}
.profile #header {
	border-bottom:2px solid #2d95bf;
	}

.signed-in .btn1 {
	background:#f89c1c;
	border-radius:5px;
	padding:0.7em 1em 0.7em 1em;
	letter-spacing:0.01em;
	color:#fff;
	}
.signed-in #header .l1 {
	background:#f15a5a;
	}
.signed-in #header .l2 {
	background:#f0c419;
	}
.signed-in #header .l3 {
	background:#4eba6f;
	}
.signed-in #header .l4 {
	margin-right:1.5em;
	background:#2d95bf;
	}

.post-event #header .btn1,
.datebook #header .l1,
.posts #header .l2,
.groups #header .l3,
.profile #header .l4,
.signed-in #header .btn1:hover,
.signed-in #header .l1:hover,
.signed-in #header .l2:hover,
.signed-in #header .l3:hover,
.signed-in #header .l4:hover {
	border-radius:5px 5px 0 0;
	padding-bottom:1.3em;
	transition: all 0.2s ease;
	}

.btn1,
.l1,
.l2,
.l3 {
	display:none; /* jess */
	}

.post-event h1 {
	color:#f89c1c;
	}
.datebook h1 {
	color:#f15a5a;
	}
.posts h1 {
	float:left;
	color:#f0c419;
	}
.groups h1 {
	color:#4eba6f;
	}
.profile h1 {
	color:#2d95bf;
	}


/* = Specific to Your Posts */
.posts #container .btn1 {
	float:right;
	margin-top:0.67em;
	font-size:115%;
	}

.posts #container .btn1:hover {
	text-decoration:none;
	}



/* = Specific to Your Profile */
.profile #container,
.profile #content {
	width:100%;
	background:transparent;
	}

.profile .col1,
.profile .col2 {
	float:left;
	width:50%;
	}

.profile .col1 {
	padding-right: 4em;
	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
	}

.profile .col2.your-info p {
	margin:0 0 0.5em 0;
	}

.profile .col2.your-info p b {
	width: 8em;
	display:inline-block;
	color:#868789;
	font-weight:normal;
	}



.profile .card .pic {
	width:150px;
	height:150px;
	}

.profile .card .pic img {
	width:150px;
	height:150px;
	}

.profile .card .address {
	margin-bottom:0.5em;
	}

.profile .card p b {
	color:#85c440;
	}

.profile .btns {
	display:block;
	margin: 1em 0 2em 0;
	}