@charset "utf-8";
/* Title: User Control Pages
** Description: Styles for User Control Section Pages
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 03-31-2013
** Updated: 03-30-2014
************************************** */

html,
body {
	background:#fff;
	}

.signed-in #wrapper {
	position:relative;
	margin:5em 1.8em 0 1.8em;
	}

.signed-in #container {
	padding-bottom:2em;
	}

.signed-in #map-box {
	right:0;
	left:auto;
	width:50%;
	height:100%;
	}
.signed-in #map_canvas {
	width:100%;
	height:100%;
	}

.signed-in #content {
	float:left;
	}

fieldset {
	margin:0 0 2em 0;
	}

legend {
	background:#239ea2;
	color:#fff;
	display:block;
	font-size:110%;
	padding:0.7em 1.8em 0.7em 1.8em;
	margin:0 0 1em -1.8em;
	font-weight:normal;
	clear:both;
	}

label {
	margin:1em 0 0 0;
	display:block;
	clear:both;
	color:#239ea2;
	}

select,
input,
textarea {
	width:100%;
	max-width:300px;
	}

textarea {
	display:block;
	clear:both;
	}

input#start-date,
input#start-time,
input#end-date,
input#end-time,
input#rsvp-close-date,
input#rsvp-close-time {
	max-width:140px;
	}

.guest-l-or-tickets-btns {
	float: left;
	margin-bottom: 1em;
	}

.btn-guest-list,
.btn-tickets {
	float:left;
	font-weight:bold;
	font-size:120%;
	border:3px solid #239ea2;
	border-radius:8px;
	padding: 1.5em 1em 1.5em 0;
	color:#239ea2;
	}

.btn-guest-list {
	background:url(../../img/data/icon-guest-list-teal-37x24.svg) 20px center no-repeat;
	margin-right:0.5em;
	text-indent: 75px;
	}
.btn-guest-list:hover {
	background:url(../../img/data/icon-guest-list-green-37x24.svg) 20px center no-repeat;
	border:3px solid #85c440;
	color:#85c440;
	}

.btn-tickets {
	background:url(../../img/data/icon-ticket-teal-43x28.svg) 20px center no-repeat;
	text-indent: 75px;
	}
.btn-tickets:hover {
	background:url(../../img/data/icon-ticket-green-43x28.svg) 20px center no-repeat;
	border:3px solid #85c440;
	color:#85c440;
	}

#footer {
	width:50%;
	}

#container {
	float: left;
	background: #fff;
	}

/* = Specific Section Styles */
.post-event #content {
	float: left;
	width: 50%;
	background: #fff;
	}

.row {
	float:left;
	width:100%;
	border-bottom:1px solid #CCC;
	}

.pic {
	float:left;
	margin-right:1em;
	background:#CCC;
	}

.summary {
	float:left;
	background:#ff0;
	}

/* = Specific to Your Profile */
.profile #container {
	background:transparent;
	}

.profile .col1,
.profile .col2 {
	float:left;
	width:50%;
	}

.profile .col1 {
	padding-right: 4em;
	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
	}

.profile .col2.your-info p {
	margin:0 0 0.5em 0;
	}

.profile .col2.your-info p b {
	width: 8em;
	display:inline-block;
	color:#868789;
	font-weight:normal;
	}

.profile .col2.your-info .btn-edit {
	margin-bottom:2em;
	}

.profile .user-card .pic {
	width:150px;
	height:150px;
	}

.profile .user-card .pic img {
	width:150px;
	height:150px;
	}

.profile .user-card {
	float:left;
	margin-bottom:1em;
	width:100%;
	}

.profile .user-card .name {
	font-size:125%;
	color:rgba(5, 159, 172, 1);
	margin:0;
	}

.profile .user-card p {
	margin:0;
	font-size:90%;
	color:#868789;
	}

.profile .user-card .address {
	margin-bottom:0.5em;
	}

.profile .user-card p b {
	color:#85c440;
	}

.profile .btns {
	display:block;
	margin: 1em 0 2em 0;
	}