@charset "utf-8";
/* Title: User Control Pages
** Description: Styles for User Control Section Pages
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 03-31-2013
** Updated: 04-21-2013
************************************** */

.user-control #container {
	z-index:400;
	position:relative;
	float:left;
	margin-left:1%;
	width:50%;
	background:#f7f7f7;
	}

.user-control #header {
	width:96%;
	position:relative;
	min-height:4.5em;
	}

.user-control .logo-block {
	float:left;
	}

.user-control .sign-in-status {
	float:right;
	margin:1.5em 7px 0 0;
	}

.user-control ul.tabs {
	z-index:700;
	position:relative;
  margin:0;
	list-style:none;
  font-size:100%;
	background:#ff0;
	}

.user-control ul.tabs li a  {
	float:left;
	display:block;
	width:25%;
	margin-top:-1em;
	padding:1.7em 0 0.7em 0;
	text-align:center;
	font-weight:bold;
	color:#fff;
	}
.user-control ul.tabs li a.tab-post-event {
	background:#01a1ad;
	}
.user-control ul.tabs li a.tab-your-posts {
	background:#81c341;
	}
.user-control ul.tabs li a.tab-events {
	background:#fbbc12;
	}
.user-control ul.tabs li a.tab-your-profile {
	background:#f37377;
	}

.user-control #map-box,
.user-control #map_canvas {
	/*
	z-index:200;
	position:fixed;
	top:0;
	right:0 !important;
	width:50%;
	height:100%;
	*/
	}

.user-control #active-tab-content {
	float:left;
	border-top-width:6px;
	border-top-style:solid;
  width:90%;
  padding:0 5% 0 5%;
	}

.post-event #active-tab-content {
	border-color:#01A1AD;
	}

.your-posts #active-tab-content {
	border-color:#81C341;
	}

.your-lineup #active-tab-content {
	border-color:#FBBC12;
	}

.your-profile #active-tab-content {
	border-color:#f37377;
	}

.user-control #active-tab-content form {
  }
