<div class="map-popup">
    <div class="name"><a href="{{ event_url }}" target="_blank"><span>{{ name }}</span></a></div>
    <div class="event-info">
        <div class="price">{{ formatted_ticket_price }}</div>
        <div class="date-time"><strong>{{ start_date }}</strong></div>
        <div class="description">{{ short_description }} <a href="{{ event_url }}" target="_blank">More &raquo;</a></div>
        <div class="address">{{ address }}</div>
        <div class="btns"><a class="btn-rsvp" href="{{ event_url }}">RSVP</a></div>
    </div>
</div>
