<div class="map-popup">
<div class="event-name cb-networking"><a href="#">{{ name }}</a></div>
<div class="price">Price: <strong>{{ ticket_price }}</strong></div>
<div class="date-time">{{ start_date }} to {{ end_date }}</div>
<div class="description">{{ description }}<a href="#">More &raquo;</a></div>
<div class="address">{{ address1 }} {{ address2 }}, {{ city }} {{ zipcode }}</div>
<div class="btns"><span class="btn-rsvp"><span>RSVP</span></span><span class="btn-watch"><span>Watch</span></span></div>
<div class="mod-event"><a href="#">Is this your event?</a><a href="#" class="warning">Report this event</a></div>
</div>
