<div class="map-popup">
    <div class="event-name"><a href="#"><img class="pop-up-banner" src="/static/img/pop-up-banner.jpg" /><img class="category-icon" src="/static/img/cbi-{{ category }}.png" /><span>{{ name }}</span></a></div>
    <div class="price">Price: <strong>{{ ticket_price }}</strong></div>
    <div class="date-time"><strong>{{ start_date }}</strong> to <strong>{{ end_date }}</strong></div>
    <div class="description">{{ description }} <a href="#">More &raquo;</a></div>
    <div class="address">{{ address }}</div>
    <div class="btns"><span class="btn-rsvp"><span>RSVP</span></span><span class="btn-watch"><span>Watch</span></span></div>
    <div class="mod-event"><a href="#">Is this your event?</a><a href="#" class="warning">Report this event</a></div>
</div>
