<li id='your-post-{{ id }}' class="list-{{ category }} list-post {{ list-status }}">
	<span class="event-data">
		<span class="event-name">{{ name }}</span><span class="date-time">Starts on: <br /><strong>{{ start_date }}</strong> at <strong>{{ start_time }}</strong></span><span class="date-time">Ends on: <br /><strong>{{ end_date }}</strong> at <strong>{{ end_time }}</strong></span><span class="address">{{ address }}</span>
    </span>
    <span class="mod-event"><a class="btn-manage" href="/event/manage">Manage</a><a class="btn-edit" href="/event/edit/{{ id }}">Copy</a><a id="{{ btn-class }}-{{ id }}" class="{{ btn-class }}" href="#">{{ btn-text }}</a></span>
</li>
