{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/custom/signed-in-pages.css" />
<link rel="stylesheet" type="text/css" href="/static/css/ad-styles.css" />
{% endblock css %}

{% block nav %}
<a class="btn-sign-in" href="{% url 'sign_out' %}">Sign Out</a>
                <a class="btn-sign-in" href="/static/user_profile/show">{{ request.user.username }}</a>
                
	<a class="" href="#">Profile</a>
    <a class="" href="#">Groups</a>
    <a class="" href="#">Posts</a>
    <a class="" href="#}">Datebook</a>
{% endblock nav %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            {% block active_tab_content %}{% endblock active_tab_content %}
        </div><!-- #active-tab-content -->
    </div><!-- #active-tab-content-container -->
    {% block right_side_content %}{% endblock right_side_content %}
{% endblock content %}
