<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<title>{% block title %}Gallevent - Find events near you!{% endblock title %}</title>

<link rel="stylesheet" type="text/css" href="/static/css/framework/reset.css" />
<link rel="stylesheet" type="text/css" href="/static/css/framework/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/framework/html-boilerplate.css" />
<link rel="stylesheet" type="text/css" href="/static/css/custom/gallevent-template.css" />
{% block css %}{% endblock css %}

{% block prejavascript %}{% endblock prejavascript %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.watermark.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/mustache/mustache-0.3.0.js"></script>
<script type="text/javascript" src="/static/js/mustache/django.mustache.js"></script>
<script type="text/javascript" src="/static/js/underscore.js"></script>
<script type="text/javascript" src="/static/js/backbone-min.js"></script>
<script type="text/javascript" src="/static/js/geolib.min.js"></script>
<script type="text/javascript" src="/static/js/models/event-model.js"></script>
<script type="text/javascript" src="/static/js/models/user-model.js"></script>
<script type="text/javascript" src="/static/js/views/header-view.js"></script>
<script type="text/javascript" src="/static/js/views/sign-in-view.js"></script>
{% block mapjavascript %}{% endblock mapjavascript %}
{% block viewjavascript %}{% endblock viewjavascript %}
<script type="text/javascript" src="/static/js/grand-central-dispatch.js"></script>
{% block javascript %}{% endblock javascript %}
</head>

<body class="{% block body-class %}{% endblock body-class %}">
    {% block preheader %}{% endblock preheader %}
    <div class="hidden">
    	<img src="/static/img/icon-cal-arrow-l-h.png" alt="arrow" />
        <img src="/static/img/icon-cal-arrow-r-h.png" alt="arrow" />
    </div>

    <div id="container">
    {% block header %}
        <div id="header">
            <div class="logo-block">
                <a href="{% url 'front_page' %}" class="logo">Gallevent&trade;</a>
                <span class="tagline">Find Events Near You!</span>
        	</div><!-- .logo-block -->
            <nav id="top-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Post an Event</a></li>
                    <!--
                    <li><a href="#">About Gallevent</a></li>
                    <li><a href="#">Contact Us</a></li>
                    -->
                </ul>
                    <span class="right">
                        {% block signin-form %}
                        <span class="sign-in-status">
                            <span class="signed-in {% if not user.is_authenticated %}hidden{% endif %}">Hi, <a class="username" href="{% url 'user_profile.views.show_profile' %}">{{ user.username }}</a></span>
                            <a class="signed-in btn-sign-out {% if not user.is_authenticated %}hidden{% endif %}" href="#">Sign Out</a>
                            <a class="{% if user.is_authenticated %}hidden{% endif %} signed-out" id="btn-show-join" href="#">Join</a>
                            <a class="{% if user.is_authenticated %}hidden{% endif %} signed-out" id="btn-show-sign-in" href="#">Sign In</a>
                            <form class="invisible hidden signed-out sign-in-form" method="post">
                                {% csrf_token %}
                                <label>Email Address:</label>
                                <input type="text" class="input-standard email" name="email" />
                                <label>Password:</label>
                                <input type="password" class="input-standard password" name="password" />
                                <em class="sign-in-message"></em>
                                <span class="form-actions">
                                    <button class="btn-sign-in" type="button">Sign In</button><span>or <a class="alt-sign-in">Join</a></span>
                                </span>
                        	</form>
                        </span>
                        
                        <div class="hidden">
                            <span id="user-id">{{ user.id }}</span>
                            <span id="user-username">{{ user.username }}</span>
                            <span id="user-firstname">{{ user.firstname }}</span>
                            <span id="user-lastname">{{ user.lastname }}</span>
                            <span id="user-email">{{ user.email }}</span>
                            <span id="user-latitude">{{ request.GET.latitude|default:0 }}</span>
                            <span id="user-longitude">{{ request.GET.longitude|default:0 }}</span>
                        </div>
                        {% endblock signin-form %}
                    </span>
                
        	</nav>
            	{% block top-search %}
            	{% endblock top-search %}
                {% block subnav %}
                {% endblock subnav %}
        	</div><!-- #header -->
        {% endblock header %}
        <div id="content">
            {% block content %}{% endblock content %}
        </div><!-- #content -->
        
        {% block footer %}
            <div id="footer">
                <ul>
                    <li><a href="sponsors.html">Our Sponsors</a></li>
                    <!-- <li><a href="#">Home</a></li>
                    <li><a href="#">Post an Event</a></li>
                    <li><a href="#">About Gallevent</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    -->
                </ul>
                <span class="copyright">&copy; Copyright 2013. All Rights Reserved.</span>
            </div><!-- #footer -->
        {% endblock footer %}
    </div><!-- #container -->
    
    <!-- Google Analytics -->
    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39734700-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
    
</body>
</html>
