{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/centered-container-pages.css" />
{% endblock %}

{% block preheader %}
<div id="bg">
{% endblock %}

{% block header %}
<div id="header">
    <a href="/" class="logo"><img src="/static/img/logo-gallevent-white.png" title="Gallevent Events" alt="Gallevent Events" /></a>
    <span class="right">
        <a href="/login/invite_request">Don't have an invitation code? Request one here!</a>
    </span><!-- .right -->
</div><!-- #header -->
{% endblock %}

{% block postfooter %}
</div><!-- #bg -->
{% endblock %}
