{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/custom/user-control-pages.css" />
{% endblock %}

{% block content %}
<nav>
	<ul class="tabs">
    	<li><a class="tab-post-event" href="">Post an Event</a></li>
        <!-- <li><a class="tab-your-posts" href="">Your Posts</a></li> -->
        <li><a class="tab-events" href="">Your Lineup</a></li>
        <li><a class="tab-your-profile" href="">Your Profile</a></li>
    </ul><!-- .tabs -->
</nav>
	<div id="{% block active_tab_content_width %}{% endblock %}-content">
        <div id="active-tab-content">
            {% block active_tab_content %}{% endblock active_tab_content %}
        </div><!-- #active-tab-content -->
    </div>
{% endblock content %}
