{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/custom/signed-in-pages.css" />
<link rel="stylesheet" type="text/css" href="/static/css/ad-styles.css" />
{% endblock css %}

{% 

{% block subnav %}
	<nav class="tab-container">
    	<div class="tabs">
    		<a class="tab-post-event" href="{% url 'post_event' %}">Post an Event</a>
        	<a class="tab-your-posts" href="{% url 'event.views.show_events' %}">Your Posts</a>
        	<a class="tab-events" href="{% url 'event.views.show_lineup' %}">Your Lineup</a>
        	<a class="tab-your-profile" href="{% url 'user_profile.views.show_profile' %}">Your Profile</a>
        </div>
    </nav>
{% endblock subnav %}

{% block content %}
<div id="container" class="{% block selected_page %}{% endblock %}">
    <div id="active-tab-content-container">
    	<div id="active-tab-content">
        	{% block active_tab_content %}{% endblock active_tab_content %}
    	</div><!-- #active-tab-content -->
    </div><!-- #active-tab-content-container -->
    {% block right_side_content %}{% endblock right_side_content %}
</div>
{% endblock content %}
