<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
<title>{% block title %}Gallevent - Find events near you!{% endblock title %}</title>

<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/static/css/layout-main.css" />
{% block css %}{% endblock css %}

{% block javascript %}{% endblock javascript %}

</head>
<body>
    {% block preheader %}{% endblock preheader %}
    {% block header %}
    <div id="header">
    	<div class="bg">
        <a href="{% url gallevent.map.views.show %}" class="logo"><img src="/static/img/logo-gallevent-white.png" title="Gallevent Events" alt="Gallevent Events" /><b>beta</b></a>
        <span class="right">
        	<a href="{% url gallevent.login.views.invite_code %}">Join Gallevent</a> | <a href="{% url gallevent.login.views.sign_in %}">Sign In</a>
        </span><!-- .right -->
        <form id="top-search">
        	<span class="left">
                <label for="event">Search for Events:</label>
                <input type="text" id="event" onchange="javascript:codeAddress(this);"  />
            </span>
            <span class="left">
                <label for="date1">Select Dates:</label>
                <input type="date" id="date1" />
                to
                <input type="date" id="date2" />
            </span>
            <span class="left">
            	<input class="btn-search" type="submit" value="Search" />
            </span>
        </form><!-- #top-nav -->
        </div>
    </div><!-- #header -->
    {% endblock header %}
    
    {% block content %}{% endblock content %}
    
    {% block footer %}
    <div id="footer">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Post an Event</a></li>
            <li><a href="#">About Gallevent</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
        <span class="copyright">&copy; Copyright 2012. All Rights Reserved.</span>
    </div><!-- #footer -->
    {% endblock footer %}
    {% block postfooter %}{% endblock postfooter %}
</body>
</html>
