{% extends "base-map.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/map-key-pages.css" />
{% endblock %}

{% block content %}
<div id="container" >
	<ul id="pin-key">
        <li><a href="#" class="key networking">Networking</a></li>
        <li><a href="#" class="key education">Education</a></li>
        <li><a href="#" class="key athletic">Athletic</a></li>
        <li><a href="#" class="key art">Art &amp; Music</a></li>
        <li><a href="#" class="key dancing">Dancing</a></li>
        <li><a href="#" class="key sales">Sales</a></li>
        <li><a href="#" class="key dining">Dining</a></li>
        <li><a href="#" class="key parties">Parties</a></li>
        <li><a href="#" class="key jobs">Jobs</a></li>
        <li class="btn-post-event"><a href="/event/post">Post Your Event on Gallevent!</a></li>
	</ul>
	{{ block.super }}
</div>
{% endblock %}
