{% extends "base-login.html" %}

{% block content %}
<div id="content">
    <div id="container">
    	<div class="left">
            <h2>Congratulations! Your email has been added to our wait list</h2>
            <p>We will contact you soon to let you know if you can join Gallevent.</p>
            <p>In the meantime, check out all the awesome events on Gallevent's <a href="{% url gallevent.map.views.show %}">Event Map</a>!</p>
        </div>
    </div><!-- #container -->
</div><!-- #content -->
{% endblock %}
