{% extends "base-login.html" %}
{% block login-link %}<a href="/login/invite_code">Have your code? Click here to sign up!</a> | <a href="{% url gallevent.login.views.sign_in %}">Sign In</a>{% endblock %}

{% block content %}
<div class="hidden">
	<img src="/static/img/btn-request-invite-h.png" title="Create Account Button" />
</div><!-- .hidden -->
<div id="content">
    <div id="container">
    	<div class="left">
            <h2>Gallevent membership <br />is by invitation only</h2>
            <p>If you have an invitation code, you can enter your information to <a href="{% url gallevent.login.views.invite_code %}">create an account here</a>.</p>
            <h2>Get on the List!</h2>
            <p>If you would like to request an invitation to join Gallevent, send us your email address and we'll send you a message when more invitations become available.</p>
            <h2>Being a Gallevnet member rocks!</h2>
            <p>As a member, you can post events, RSVP for events, watch events, and more! <b>It's FREE to join</b>, But you must be invited.</p>
        </div>
        <form class="form-left" method="POST">
            <label>Email Address:</label>
            <input id="id_email" type="text" maxlength="64" name="email" class="input-standard">
            <input class="btn-request-invite" type="submit" value="Create Account" />
        </form>
    </div><!-- #container -->
</div><!-- #content -->
{% endblock %}
