{% extends "base-login.html" %}

{% block content %}
<div id="content">
    <div id="container">
    	<div class="left">
            <h2>Gallevent membership is currently by invitation only</h2>
            <p>If you have an invitation code, you can enter your information to <a href="/login/invite_code">create an account here</a>.</p>
            <h2>Get on the List!</h2>
            <p>If you would like to request an invitation to join Gallevent, send us your email address and we'll send you a message when more invitations become available.</p>
        </div>
        <form class="form-left">
            <label>Email Address:</label>
            <input type="text" class="input-standard" />
            <input class="btn-create-account" type="submit" value="Create Account" />
        </form>
    </div><!-- #container -->
</div><!-- #content -->
{% endblock %}
