{% extends "base-profile.html" %}
{% load map_tags %}

{% block prejavascript %}
<script>
var eventsJSON = [];
</script>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/models/event-model.js"></script>
<script type="text/javascript" src="/static/js/views/post-event-view.js"></script>
<!-- START Timepicker -->
<script type="text/javascript" src="/static/js/jquery.timepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.timepicker.css" />
<!-- END Timepicker -->
{% endblock javascript %}

{% block selected_page %}{% if edit %}your-posts{% else %}your-post-event{% endif %}{% endblock %}

{% block active_tab_content_width %}side{% endblock %}

{% block active_tab_content %}
{% if edit %}
<div class="hidden">
	<img src="/static/img/btn-s-post-event-h.png" alt="Post Event Button Hover" />
</div><!-- .hidden -->
<h2><a href="{% url gallevent.event.views.show_events %}">Your Posts</a>: Edit Your Event</h2>
{% else %}
{% if form.errors %}
	<div class="top-error"><h3>Oops!</h3><span class="left">There are some errors in your event post.<br />Please review the form below and correct the errors.</span></div>
{% endif %}
<h2>Post Your Event on Gallevent</h2>
<p class="required"><em>Required items are in <b>green</b>.</em></p>
{% endif %}
<form id="post-event" method="post">
	<fieldset>
        <legend>1. What type of event is this?</legend>
        <label for="event-category" class="required">Select an Event Category:</label>
        {% if form.category.errors %}
         	{% for error in form.category.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <span id="event-category-value" class="hidden" value="{{ form.category.value }}"></span>
        <select id="event-category" class="input-standard" name="category" repost="{{ form.category.value }}">
            <option value="networking" id="select-networking">Networking</option>
            <option value="education" id="select-education">Education</option>
            <option value="fairs" id="select-fairs">Fairs &amp; Festivals</option>
            <option value="athletic" id="select-athletic">Athletic</option>
            <option value="art" id="select-art">Art &amp; Music</option>
            <option value="dancing" id="select-dancing">Dancing</option>
            <option value="dining" id="select-dining">Dining</option>
            <option value="parties" id="select-parties">Nightlife &amp; Parties</option>
        </select>
        <label for="event-keywords">Keywords:</label>
        {% if form.keywords.errors %}
         	{% for error in form.keywords.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <span class="form-details">List up to three words that descibe your event.</span>
        <input type="text" id="event-keywords" class="input-standard" name="keywords" placeholder="Art, Live Music, Dancing" value="{{ form.keywords.value }}" />
    </fieldset>
    <fieldset>
    	<legend>2. Where will your event be?</legend>
        <label for="address1" class="required">Address Line 1:</label>
        {% if form.address1.errors %}
        	{% for error in form.address1.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <input type="text" id="address1" class="input-standard location" name="address1" placeholder="123 Your Street" value="{{ form.address1.value }}" />
        <label for="address2">Address Line 2:</label>
        {% if form.address2.errors %}
         	{% for error in form.address2.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <input type="text" id="address2" class="input-standard" name="address2" placeholder="Suite 201"  />
        <label for="city" class="required">City:</label>
        {% if form.city.errors %}
         	{% for error in form.city.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <input type="text" id="city" class="input-standard location" name="city" placeholder="San Francisco" value="{{ form.city.value }}" />
        <label for="state" class="required">State:</label>
        {% if form.state.errors %}
         	{% for error in form.state.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <select name="state" id="state" class="input-standard" repost="{{ form.state.value }}">
            <option value="">Select Your State</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
  		</select>
        <label for="zip-code" class="required">Zip Code:</label>
        {% if form.zipcode.errors %}
         	{% for error in form.zipcode.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <input type="text" id="zip-code" class="input-standard location" name="zipcode" placeholder="94114" value="{{ form.zipcode.value }}" />
        <input type="text" id="latitude" class="hidden" name="latitude" />
        <input type="text" id="longitude" class="hidden" name="longitude" />
    </fieldset>
    <fieldset>
    	<legend>3. About your event</legend>
        <label for="event-name" class="required">Name your event:</label>
        {% if form.name.errors %}
         	{% for error in form.name.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <input type="text" id="event-name" class="input-standard" name="name" placeholder="The Best Event Ever" value="{{ form.name.value }}" />
        <label for="event-description" class="required">Describe your event:</label>
        {% if form.description.errors %}
         	{% for error in form.description.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <textarea id="event-description" class="input-standard" name="description" placeholder="Don't miss out on this year's Best Event Ever! We'll have it all..." >{{ form.description.value }}</textarea>
        <em class="form-comment under"><span id="charLeft">1000</span> characters left</em>

        <label for="event-url">Link to event page:</label>
        {% if form.event_url.errors %}
         	{% for error in form.event_url.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <input type="text" id="event-url" class="input-standard" name="event_url" placeholder="www.gallevent.com" value="{{ form.event_url.value }}" />
    </fieldset>
    <fieldset>
    	<legend>4. Event organizer</legend>
        <span class="form-details">Only one contact method is required. <br />(If you provide an email address, a phone number is not required. If you provide a phone number, an email address is not required.)</span>
        <label for="organizer-email" class="required">
        Email:</label>
        <input type="text" id="organizer-email" class="input-standard" name="organizer_email" placeholder="event_organizer@gmail.com" value="{{ form.organizer_email.value }}" />
        <label for="organizer-phone" class="required">
        Phone number:</label>
        <input type="text" id="organizer-phone" class="input-standard" name="organizer_phone" placeholder="123-456-7890" value="{{ form.organizer_phone.value }}" />
        <label for="organizer-url">Link to organizer's page:</label>
        <input type="text" id="organizer-url" class="input-standard" name="organizer_url" placeholder="www.gallevent.com" value="{{ form.organizer_url.value }}" />
    </fieldset>
    <fieldset>
        <legend>5. When will your event happen?</legend>
        <label for="start-date" class="required">Start Date &amp; Time:</label>
        {% if form.start_date.errors %}
         	{% for error in form.start_date.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <div><input type="text" id="start-date" class="input-standard" name="start_date"  placeholder="06/20/2012" value="{{ form.start_date.value|date }}" /> at 
        <script>
		  $(function() {
			$('#start-time').timepicker();
			$('#end-time').timepicker();
		  });
		</script>   
        {% if form.start_time.errors %}
         	{% for error in form.start_time.errors %}
         		<br /><span class="error">{{ error }}</span><br />
         	{% endfor %}
        {% endif %}     
        <input type="text" id="start-time" class="input-standard" name="start_time" placeholder="3:00pm" value="{{ form.start_time.value|time }}" /></div>
        <label for="end-date" class="required">End Date &amp; Time:</label>
        {% if form.end_date.errors %}
         	{% for error in form.end_date.errors %}
         		<span class="error">{{ error }}</span>
         	{% endfor %}
        {% endif %}
        <div><input type="text" id="end-date" class="input-standard" name="end_date" placeholder="06/20/2012" value="{{ form.end_date.value|date }}" /> at 
        {% if form.end_time.errors %}
         	{% for error in form.end_time.errors %}
         		<br /><span class="error">{{ error }}</span><br />
         	{% endfor %}
        {% endif %} 
        <input type="text" id="end-time" class="input-standard" name="end_time" placeholder="9:00pm" value="{{ form.end_time.value|time }}" /></div>
    </fieldset>
    <fieldset>
    	<legend>6. Ticketing</legend>
        <span class="form-details">Ignore this section if guests do NOT need tickets to attend your event.</span>
        <label for="ticket-type">Ticket type 1:</label>
        <input type="text" id="ticket-type" class="input-standard" name="ticket_type" placeholder="General Admission" value="{{ form.ticket_type.value }}" checked />
        <label for="ticket-price">Price for ticket type 1:</label>
        <input type="text" id="ticket-price" class="input-standard" name="ticket_price" placeholder="$0.00" value="{{ form.ticket_price.value }}" /><em class="form-comment">Your event is free!</em>
        <button class="btn-add-ticket-type"><span>+</span> Add another ticket type</button>
        <label for="ticket-link">Link to get tickets:</label>
        <input type="text" id="ticket-link" class="input-standard" name="ticket_url" placeholder="www.gallevent.com" value="{{ form.ticket_url.value }}" />
    </fieldset>
    <input class="btn-s-post-event" type="submit" value="Post Event" />
</form>
{% endblock active_tab_content %}

{% block right_side_content %}
    {% show_map %}
{% endblock right_side_content %}
