{% extends "base-profile.html" %}

{% block body-class %}signed-in posts{% endblock body-class %}

{% load map_tags %}

{% block prejavascript %}
<script>
var eventJSON = {};
</script>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/lib/jquery.timepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.timepicker.css" />
{% endblock javascript %}



{% block mapjavascript %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.14&sensor=false"></script>                                            
<script type="text/javascript" src="/static/js/models/event-model.js"></script>                                                                             

<script type="text/javascript" src="/static/js/views/map-view.js"></script>
{% endblock mapjavascript %}


{% block viewjavascript %}
<script type="text/javascript" src="/static/js/views/post-event-view.js"></script>
<script type="text/javascript" src="/static/js/controllers/post-event-controller.js"></script>
{% endblock viewjavascript %}

{% block active_tab_content %}
	<h1>Your Posts</h1>
    
    <a class="btn1" href="{% url 'post_event' %}">Create New Post</a>
    <div class="col1">

    	

        {% if posts|length > 0 %}
        {% for post in posts %}
        	<div class="row">
            	<div class="card">
                    <!--<div class="pic">
                        <img src="/static/img/avatar-unipegi-150x150.png" />
                    </div>-->
                    <div class="summary">
                        <div class="name"><a href="#">{{ post.name }}</a></div>
                        <p><b class="price">${{ post.ticket_price }}</b><b class="date">{{ post.start_date }}</b></p>
                        <p class="address">{{ post.city }}, {{ post.state }}</p>
                    </div><!-- .summary -->
                </div><!-- .card -->
                <p>{{ post.description }}</p>
                <a class="btn-edit"></a>
        	</div><!-- .row -->
        {% endfor %}
        {% else %}
        	<div class="no-activity">
                <h2>You have no posts!</h2>
                    <h3>Create a post for your event, sale, or job today!</h3>
    		</div><!-- .row .no-activity -->
        {% endif %}
    </div><!-- .col1 -->
{% endblock active_tab_content %}
{% block right_side_content %}
	{% show_map %}
{% endblock right_side_content %}
