{% extends "base-profile.html" %}

{% block body-class %}signed-in posts{% endblock body-class %}

{% load map_tags %}

{% block prejavascript %}
<script>
var eventJSON = {};
</script>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/lib/jquery.timepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.timepicker.css" />
{% endblock javascript %}



{% block mapjavascript %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.14&sensor=false"></script>                                            
<script type="text/javascript" src="/static/js/models/event-model.js"></script>                                                                             

<script type="text/javascript" src="/static/js/views/map-view.js"></script>
{% endblock mapjavascript %}


{% block viewjavascript %}
<script type="text/javascript" src="/static/js/views/post-event-view.js"></script>
<script type="text/javascript" src="/static/js/controllers/post-event-controller.js"></script>
{% endblock viewjavascript %}

{% block active_tab_content %}
	<h1>Your Posts</h1>
    
    <a class="button top" href="{% url 'post_event' %}">+ New Post</a>
    <div class="col1">
        {% if posts|length > 0 %}
        {% for post in posts %}
            	<div class="card">
                    <!--<div class="pic">
                        <img src="/static/img/avatar-unipegi-150x150.png" />
                    </div>-->
                    <div class="summary">
                        <a class="name" href="#">{{ post.name }}</a>
                        <p class="date">{{ post.start_date }}</p>
                        <b class="price">${{ post.ticket_price }}</b>
                        <p class="address">{{ post.address }}</p>
                        <a>Show Description</a>
                        <p>{{ post.description }}</p>
                        <a class="btn-edit">Edit</a> | <a class="btn-edit">Delete</a>
                    </div>
                </div>
        {% endfor %}
        {% else %}
            <div class="card notice">
                <div class="summary center">
                    <p class="name"><span>You have not hosted any events!</span><span>Post an event!</span></p>
                    <p><img src="/static/img/unipegi-gray-sitting-animated-240x240.gif"></p>
                    <a href="{% url 'post_event' %}">Create a post for your event, sale, or job today!</a>
                </div>
            </div>
        {% endif %}
    </div><!-- .col1 -->
{% endblock active_tab_content %}
{% block right_side_content %}
	{% show_map %}
{% endblock right_side_content %}
