{% extends "base-profile.html" %}

{% block prejavascript %}
{% endblock prejavascript %}

{% block viewjavascript %}
<script src="www/js/controllers/profile-controller.js"></script>
{% endblock viewjavascript %}

{% block body-class %}signed-in prodjango formsetfile{% endblock body-class %}

{% block active_tab_content %}
	<h1>Your Profile</h1>
    <div class="col1">
        {% if profile.fname and profile.lname and profile.city and profile.state and profile.bio and profile.twitter and profile.facebook and profile.website %}
    	<div class="bio">
        	<div class="card">
    			<!--<div class="pic">
                	<img src="/static/img/avatar-unipegi-150x150.png" />
                </div>-->
                <div class="summary">
                	<div class="name">{{ profile.fname }} {{ profile.lname }}</div>
                    <p class="address">{{ profile.city }}, {{ profile.state }}</p>
                    <!--<p><b>500</b> Events Attended</p>
                    <p><b>20</b> Groups</p>-->
                </div><!-- .col2 -->
            </div><!-- .card -->
            <p>{{ profile.bio }}</p>
            <p class="profile-links">
                <a href="#" class="twitter">{{ profile.twitter }}</a><br />
                <a href="#" class="facebook">{{ profile.facebook }}</a><br />
                <a href="#" class="website">{{ profile.website }}</a>
            </p>
    		<button class="btn-edit" type="button">Edit</button>
    	</div><!-- .bio -->
    	{% else %}
        <div class="bio-edit">
        	<form method="post">{% csrf_token %}
            	<!--<div class="profile-pic">
                	<img src="/static/img/avatar-unipegi-150x150.png" />
                </div>-->
                <label>First Name</label>
                <input class="fname" name="fname" value="{{ profile.fname }}"></input>
                <label>Last Name</label>
                <input class="lname" name="lname" value="{{ profile.lname }}"></input>
                <label>Where You Spend Most of Your Time</label>
                <label>City</label>
                <input class="address" name="city" value="{{ profile.city }}"></input>
                <label>State</label>
                <input class="address" name="state" value="{{ profile.state }}"></input>
                <label>Introduce Yourself</label>
                <textarea name="bio" value="{{ profile.bio }}"></textarea>
                <label>Twitter</label>
                <input class="twitter" name="twitter" value="{{ profile.twitter }}"></input>
                <label>Facebook</label>
                <input class="facebook" name="facebook" value="{{ profile.facebook }}"></input>
                <label>Website</label>
                <input class="website" name="website" value="{{ profile.website }}"></input>
    			<span class="btns">
                    <button class="btn-save save-bio" type="submit">Save</button>
                    <!--<button class="btn-cancel cancel-bio" type="button">Cancel</button>-->
                </span>
            </form>
    	</div><!-- .bio -->
    	{% endif %}
    </div><!-- .col1 -->
    <div class="col2 your-info">
    	<div class="basic-info">
        	<h3>Basics</h3>
            <p><b>Gender</b> <span>Female</span></p>
            <p><b>Looking For</b> <span>Networking</span></p>
            <p><b>Relationship</b> <span>In a Relationship</span></p>
            <button class="btn-edit" type="button">Edit</button>
        </div><!-- .basic-info -->
        <div class="basic-info-edit">
        	<h3>Basics</h3>
            <form>
            	<label>Gender</label>
                <span class="select gender">
                    <select id="gender" name="gender">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Other">Other</option>
                        <option value="Don't Say">Don't Say</option>
                    </select>
                </span>
                <label>Looking For</label>
                <input type="checkbox" name="looking-for" value="Friends"> Friends<br />
                <input type="checkbox" name="looking-for" value="Dating"> Dating<br />
                <input type="checkbox" name="looking-for" value="A Relationship"> A Relationship<br />
                <input type="checkbox" name="looking-for" value="Networking"> Networking
                <label>Relationship</label>
                <span class="select relationship">
                    <select id="relationship" name="relationship">
                        <option value="Single">Single</option>
                        <option value="In a Relationship">In a Relationship</option>
                        <option value="Engaged">Engaged</option>
                        <option value="Married">Married</option>
                        <option value="In a Domestic Partnership">In a Domestic Partnership</option>
                        <option value="In a Civil Union">In a Civil Union</option>
                        <option value="It's Complicated">It's Complicated</option>
                        <option value="In an Open Relationship">In an Open Relationship</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Widowed">Widowed</option>
                        <option value="Don't Say">Don't Say</option>
                    </select>
                </span>
                <span class="btns">
                    <button class="btn-save save-basics" type="button">Save</button>
                    <button class="btn-cancel cancel-basics" type="button">Cancel</button>
                </span>
            </form>
        </div><!-- .basic-info -->
        <div class="contact-info">
        	<h3>Contact</h3>
            <p><b>Email</b> <span>{{ email }}</span></p>
            <p><b>Phone</b> <span>510.334.9081</span></p>
            <button class="btn-edit" type="button">Edit</button>
        </div><!-- .contact-info -->
        <div class="contact-info-edit">
        	<h3>Contact</h3>
            <form>
            	<label>Email</label>
                <input />
                <label>Phone</label>
                <input />
                <span class="btns">
                    <button class="btn-save save-contact" type="button">Save</button>
                    <button class="btn-cancel cancel-contact" type="button">Cancel</button>
                </span>
            </form>
        </div><!-- .contact-info -->
        <div class="education-info">
        	<h3>Education</h3>
            <p><b>School</b> <span>California Polytechnic State University</span></p>
            <p><b>Field of Study</b> <span>Graphic Communication</span></p>
            <button class="btn-edit edit-edu" type="button">Edit</button>
        </div><!-- .education-info -->
        <div class="education-info-edit">
        	<h3>Education</h3>
            <form>
            	<label>School</label>
                <input />
                <label>Field of Study</label>
                <input />
                <span class="btns">
                    <button class="btn-save save-edu" type="button">Save</button>
                    <button class="btn-cancel cancel-edu" type="button">Cancel</button>
                </span>
            </form>
        </div><!-- .education-info -->
        <div class="work-info">
        	<h3>Work</h3>
            <p><b>Job Title</b> <span>California Polytechnic State University</span></p>
            <p><b>Company</b> <span>Graphic Communication</span></p>
            <button class="btn-edit edit-work" type="button">Edit</button>
        </div><!-- .work-info -->
        <div class="work-info-edit">
        	<h3>Work</h3>
            <form>
            	<label>Job Title</label>
                <input />
                <label>Company</label>
                <input />
                <span class="btns">
                    <button class="btn-save save-work" type="button">Save</button>
                    <button class="btn-cancel cancel-work" type="button">Cancel</button>
                </span>
            </form>
        </div><!-- .work-info -->
    </div><!-- .col2 -->
    
        
    </div>
{% endblock active_tab_content %}
