{% extends "base-profile.html" %}

{% block prejavascript %}
{% endblock prejavascript %}

{% block viewjavascript %}
<script src="www/js/controllers/profile-controller.js"></script>
{% endblock viewjavascript %}

{% block body-class %}signed-in prodjango formsetfile profile{% endblock body-class %}

{% block active_tab_content %}
	<h1>Your Profile</h1>
    <div class="col1">
        {% if not form_edit_bio %}
    	<div class="bio">
        	<div class="card">
    			<!--<div class="pic">
                	<img src="/static/img/avatar-unipegi-150x150.png" />
                </div>-->
                <div class="summary">
                	<div class="name">{{ profile.fname }} {{ profile.lname }}</div>
                    <p class="address">{{ profile.city }}, {{ profile.state }}</p>
                    <!--<p><b>500</b> Events Attended</p>
                    <p><b>20</b> Groups</p>-->
                </div><!-- .col2 -->
            </div><!-- .card -->
            <p>{{ profile.bio }}</p>
            <p class="profile-links">
                <a href="#" class="twitter">{{ profile.twitter }}</a><br />
                <a href="#" class="facebook">{{ profile.facebook }}</a><br />
                <a href="#" class="website">{{ profile.website }}</a>
            </p>
    		<a href="{{ request.path }}?form_edit=bio" class="btn-edit" type="button">Edit</a>
    	</div><!-- .bio -->
    	{% else %}
        <div class="bio-edit">
        	<form method="post">{% csrf_token %}
        	    <input class="hidden" name="form_type" value="bio"></input>
            	<!--<div class="profile-pic">
                	<img src="/static/img/avatar-unipegi-150x150.png" />
                </div>-->
                <label>First Name</label>
                <input type="text" class="fname" name="fname" value="{{ profile.fname }}" />
                <label>Last Name</label>
                <input type="text" class="lname" name="lname" value="{{ profile.lname }}" />
                <label>Where You Spend Most of Your Time</label>
                <label>City</label>
                <input type="text" class="address" name="city" value="{{ profile.city }}" />
                <label>State</label>
                <input type="text" class="address" name="state" value="{{ profile.state }}" />
                <label>Introduce Yourself</label>
                <textarea name="bio">{{ profile.bio }}</textarea>
                <label>Twitter</label>
                <input type="text" class="twitter" name="twitter" value="{{ profile.twitter }}" />
                <label>Facebook</label>
                <input type="text" class="facebook" name="facebook" value="{{ profile.facebook }}" />
                <label>Website</label>
                <input type="text" class="website" name="website" value="{{ profile.website }}" />
    			<span class="btns">
                    <button class="btn-save save-bio" type="submit">Save</button>
                    <a href="{{ request.path }}" class="btn-cancel cancel-bio">Cancel</a>
                </span>
            </form>
    	</div><!-- .bio -->
    	{% endif %}
    </div><!-- .col1 -->
    <div class="col2 your-info">
        {% if not form_edit_basic_info %}
    	<div class="basic-info">
        	<h3>Basics</h3>
            <p><b>Gender</b> <span>{{ profile.gender_text }}</span></p>
            <p><b>Looking For</b> <span>{{ profile.interests_text }}</span></p>
            <p><b>Relationship</b> <span>{{ profile.relationship_text }}</span></p>
            <a href="{{ request.path }}?form_edit=basic_info" class="btn-edit" type="button">Edit</a>
        </div><!-- .basic-info -->
        {% else %}
        <div class="basic-info-edit">
        	<h3>Basics</h3>
            <form method="post">{% csrf_token %}
                <input class="hidden" name="form_type" value="basic_info"></input>
            	<label>Gender</label>
                <span class="select gender">
                    <select id="gender" name="gender">
                        <option value="1" {% if profile.gender == 1 %}selected="selected"{% endif %}>Female</option>
                        <option value="2" {% if profile.gender == 2 %}selected="selected"{% endif %}>Other</option>
                        <option value="3" {% if profile.gender == 3 %}selected="selected"{% endif %}>Male</option>
                        <option value="4" {% if profile.gender == 4 %}selected="selected"{% endif %}>Don't Say</option>
                    </select>
                </span>
                <label>Looking For</label>
                <input type="checkbox" name="interests" value="1" {% if '1' in profile.interests %}checked="checked"{% endif %}> Friends</input><br />
                <input type="checkbox" name="interests" value="2" {% if '2' in profile.interests %}checked="checked"{% endif %}> Dating</input><br />
                <input type="checkbox" name="interests" value="3" {% if '3' in profile.interests %}checked="checked"{% endif %}> A Relationship</input><br />
                <input type="checkbox" name="interests" value="4" {% if '4' in profile.interests %}checked="checked"{% endif %}> Networking</input>
                <label>Relationship</label>
                <span class="select relationship">
                    <select id="relationship" name="relationship">
                        <option value="1" {% if profile.relationship == 1 %}selected="selected"{% endif %}>Single</option>
                        <option value="2" {% if profile.relationship == 2 %}selected="selected"{% endif %}>In a Relationship</option>
                        <option value="3" {% if profile.relationship == 3 %}selected="selected"{% endif %}>Engaged</option>
                        <option value="4" {% if profile.relationship == 4 %}selected="selected"{% endif %}>Married</option>
                        <option value="5" {% if profile.relationship == 5 %}selected="selected"{% endif %}>In a Domestic Partnership</option>
                        <option value="6" {% if profile.relationship == 6 %}selected="selected"{% endif %}>In a Civil Union</option>
                        <option value="7" {% if profile.relationship == 7 %}selected="selected"{% endif %}>It's Complicated</option>
                        <option value="8" {% if profile.relationship == 8 %}selected="selected"{% endif %}>In an Open Relationship</option>
                        <option value="9" {% if profile.relationship == 9 %}selected="selected"{% endif %}>Divorced</option>
                        <option value="10" {% if profile.relationship == 10 %}selected="selected"{% endif %}>Widowed</option>
                        <option value="11" {% if profile.relationship == 11 %}selected="selected"{% endif %}>Don't Say</option>
                    </select>
                </span>
                <span class="btns">
                    <button class="btn-save save-basics" type="submit">Save</button>
                    <a href="{{ request.path }}" class="btn-cancel cancel-basics">Cancel</a>
                </span>
            </form>
        </div><!-- .basic-info -->
        {% endif %}
        {% if not form_edit_contact %}
        <div class="contact-info">
        	<h3>Contact</h3>
            <p><b>Email</b> <span>{{ profile.email }}</span></p>
            <p><b>Phone</b> <span>{{ profile.phone }}</span></p>
            <a href="{{ request.path }}?form_edit=contact" class="btn-edit">Edit</a>
        </div><!-- .contact-info -->
        {% else %}
        <div class="contact-info-edit">
        	<h3>Contact</h3>
            <form method="post">{% csrf_token %}
                <input class="hidden" name="form_type" value="contact"></input>
            	<label>Email</label>
                <input type="text" name="email" value="{{ profile.email }}" />
                <label>Phone</label>
                <input type="text" name="phone" value="{{ profile.phone }}" />
                <span class="btns">
                    <button class="btn-save save-contact" type="submit">Save</button>
                    <a href="{{ request.path }}" class="btn-cancel cancel-contact">Cancel</a>
                </span>
            </form>
        </div><!-- .contact-info -->
        {% endif %}
        {% if not form_edit_education %}
        <div class="education-info">
        	<h3>Education</h3>
            <p><b>School</b> <span>{{ profile.school }}</span></p>
            <p><b>Field of Study</b> <span>{{ profile.study_field }}</span></p>
            <a href="{{ request.path }}?form_edit=education" class="btn-edit edit-edu">Edit</a>
        </div><!-- .education-info -->
        {% else %}
        <div class="education-info-edit">
        	<h3>Education</h3>
            <form method="post">{% csrf_token %}
                <input class="hidden" name="form_type" value="education"></input>
            	<label>School</label>
                <input type="text" name="school" value="{{ profile.school }}"/>
                <label>Field of Study</label>
                <input type="text" name="study_field" value="{{ profile.study_field }}"/>
                <span class="btns">
                    <button class="btn-save save-edu" type="submit">Save</button>
                    <a href="{{ request.path }}" class="btn-cancel cancel-edu">Cancel</a>
                </span>
            </form>
        </div><!-- .education-info -->
        {% endif %}
        {% if not form_edit_work %}
        <div class="work-info">
        	<h3>Work</h3>
            <p><b>Job Title</b> <span>{{ profile.job_title }}</span></p>
            <p><b>Company</b> <span>{{ profile.company }}</span></p>
            <a href="{{ request.path }}?form_edit=work" class="btn-edit edit-work">Edit</a>
        </div><!-- .work-info -->
        {% else %}
        <div class="work-info-edit">
        	<h3>Work</h3>
            <form method="post">{% csrf_token %}
                <input class="hidden" name="form_type" value="work"></input>
            	<label>Job Title</label>
                <input type="text" name="job_title" value="{{ profile.job_title }}"/>
                <label>Company</label>
                <input type="text" name="company" value="{{ profile.company }}"/>
                <span class="btns">
                    <button class="btn-save save-work" type="submit">Save</button>
                    <a href="{{ request.path }}" class="btn-cancel cancel-work">Cancel</a>
                </span>
            </form>
        </div><!-- .work-info -->
        {% endif %}
    </div><!-- .col2 -->
    
        
    </div>
{% endblock active_tab_content %}
