{% extends "base-user-account-pages.html" %}

{% block body-class %}user-account your-profile{% endblock body-class %}

{% block active_tab_content %}
<div class="col1">
	<h1>Your Public Profile</h1>
	<h2>What do you want other Gallevent members to know about you?</h2>
    <div class="profile-pic-col">
    	<img class="profile-pic" src="/static/img/profile-pic-jessica.jpg" />
    </div><!-- .photo-col -->
    <div class="person-summary">
        <p class="real-name"><a href="#">Jessica G.</a></p>
        <p class="address">San Francisco, California</p>
        <p class="description">Tell us about yourself in 1,000 characters or less. This is sample text. Sample text here. This is sample text. This is only sample thext. This sample text will not appear on the actual site. This text is for placement only. Sample text here. This is sample text. Sample text here. This is sample text. Sample text here.
Tell us about yourself in 1,000 characters. This is sample text. Sample text here. This is sample text. This is only sample thext. This sample text will not appear on the actual site. This text is for placement only. Sample text here. This is sample text. Sample text here. This is sample text. Sample text here.
Tell us about yourself in 1,000 characters. This is sample text. Sample text here. This is sample text. This is only sample thext. This sample text will not appear on the actual site. This text is for placement only. Sample text here. This is sample text. Sample text here. This is sample text. Sample text here.
Tell us about yourself in 1,000 characters la la la.</p>
        <p class="profile-links">
        	<a href="#" class="twitter">@TwitterName</a><br />
            <a href="#" class="twitter">facebook.com/username</a><br />
            <a href="#" class="url">url.com</a>
        </p>
        <button class="btn-edit" type="button">Edit Profile</button>
    </div>
</div><!-- .col -->
{% endblock active_tab_content %}
