{% extends "base-profile.html" %}
{% load map_tags %}

{% block prejavascript %}
<script>
var eventsJSON = [ {% for event in events %} {id: {{ event.id }},user_id: {{ event.user_id }},address1: "{{ event.address1|escapejs }}",address2: "{{ event.address2|escapejs }}",city: "{{ event.city|escapejs }}",state: "{{ event.state|escapejs }}",zipcode: "{{ event.zipcode|escapejs }}",name: "{{ event.name|escapejs }}",category: "{{ event.category|escapejs }}",ticket_price: {{ event.ticket_price }},start_date: "{{ event.start_date|escapejs }}",end_date: "{{ event.end_date|escapejs }}",description: "{{ event.description|escapejs }}",organizer_email: "{{ event.organizer_email|escapejs }}",organizer_phone: "{{ event.organizer_phone|escapejs }}",organizer_url: "{{ event.organizer_url|escapejs }}",latitude: {{ event.latitude }},longitude: {{ event.longitude }} }, {% endfor %} ];
</script>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/views/your-post-view.js"></script>
{% endblock %}

{% block selected_page %}{{ selected_page }}{% endblock %}

{% block active_tab_content_width %}side{% endblock %}

{% block active_tab_content %}
{% ifequal selected_page 'your-posts' %}
<h2>Your Posts</h2>
<p>Scroll down to view the posts you have created.</p>
{% else %}{% ifequal selected_page 'your-events' %}
<h2>Your Lineup</h2>
<p>Events you have RSVPed to, events you are following, <br />and events you have attended.</p>
{% endifequal %}{% endifequal %}
<form id="your-posts">    
    <span class="group">
        <span class="h3">Active Posts</span>
        <span class="sort">
            <label for="active-sort-by1">Sort:</label>
            <select id="active-sort-by1">
                <option value="date-ascending">Date Ascending</option>
                <option value="date-descending">Date Descending</option>
                <option value="date-category">Category</option>
            </select>
        </span>
        <ul class="form-event-list active-events">
        {% for event in events %}
        	<li id='your-post-{{ event.id }}' class="list-{{ event.category }} list-post">
            	<span class="event-data">
            		<span class="event-name">{{ event.name }}</span><span class="date-time">Starts on: <br /><strong>{{ event.start_date.date }}</strong> at <strong>{{ event.start_date.time }}</strong></span><span class="date-time">Ends on: <br /><strong>{{ event.end_date.date }}</strong> at <strong>{{ event.end_date.time }}</strong></span><span class="address">{{ event.address1 }} {{ event.address2 }}, {{ event.city }}, {{ event.zipcode }}</span>
                </span>
                <span class="mod-event"><a class="btn-manage" href="{% url gallevent.event.views.manage_events %}">Manage</a><a class="btn-edit" href="{% url gallevent.event.views.edit_event %}">Edit</a><a class="btn-archive" href="#">Archive</a></span>
            </li>
        {% endfor %}
        </ul>
        <a href="{% url gallevent.event.views.show_events %}" class="more-link">More Active Posts &raquo;</a>
    </span>
    
    {% ifequal selected_page 'your-posts' %}
    <span class="group">
        <span class="h3">Archived Posts</span>
        <label for="active-sort-by3">Sort:</label>
        <select id="active-sort-by3">
            <option value="date-ascending">Date Ascending</option>
            <option value="date-descending">Date Descending</option>
            <option value="date-category">Category</option>
        </select>
        <ul class="form-event-list archived-events">
            <li class="list-jobs">
            	<span class="event-data">
            		<span class="event-name">Event Name</span><span class="date-time">Starts on: <br /><strong>02/02/2012</strong> at <strong>5:00 pm</strong></span><span class="date-time">Ends on: <br /><strong>02/02/2012</strong> at <strong>9:00 pm</strong></span><span class="address">1234 Fun Street #8, San Francisco, CA 94123</span>
                </span>
                <span class="mod-event"><a class="btn-manage" href="{% url gallevent.event.views.manage_events %}">Manage</a><a class="btn-edit" href="{% url gallevent.event.views.edit_event %}">Edit</a><a class="btn-delete" href="#">Delete</a></span>
            </li>
        </ul>
        <a href="#" class="more-link">More Expired Posts &raquo;</a>
    </span>
    {% endifequal %}
</form>
{% endblock active_tab_content %}

{% block right_side_content %}
    {% show_map %}
{% endblock right_side_content %}
