{% extends "base-profile.html" %}
{% load map_tags %}

{% block prejavascript %}
<script>
var eventsJSON = [];
</script>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/models/event-model.js"></script>
<script type="text/javascript" src="/static/js/views/post-event-view.js"></script>
<!-- START Timepicker -->
<script type="text/javascript" src="/static/js/jquery.timepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.timepicker.css" />
<!-- END Timepicker -->
{% endblock javascript %}

{% block selected_page %}your-posts-mng{% endblock %}

{% block active_tab_content_width %}side{% endblock %}

{% block active_tab_content %}
<ul id="side-page-links">
	<li><a href="#" class="active">Event Details</a></li>
    <li><a href="/event/manage/tickets">Ticket Types</a></li>
    <li><a href="/event/manage/guests">RSVPs</a></li>
    <li><a href="/event/manage/followers">Followers</a></li>
</ul>
<div class="col">
	<h2>Event Details</h2>
	<h3 class="event-name">2nd Annual Bay Area Brew Festival</h3>
    <p class="date-time">Saturday, March 3, 1:00 pm to 5:00 pm</p>
    <p class="address">Marina Blvd, San Francisco, CA 94123</p>
    <div class="description">
    	<p>With so many wine tastings and pairings, it's 'bout time for SF to have another beer festival. The 2nd Annual Bay Area Brew Festival follows last year's sold out event and this year's promises to be even bigger and better.</p>
        <p>The two day event will feature dozens of international and domestic beers, SF's best food trucks (food sold separately) and will take place at Fort Mason. Admission is $40 for general admission (2pm to 5pm) and $50 for VIP (1pm to 5pm) and includes unlimited beer.</p>
    </div><!-- .description -->
    <a class="btn-edit" href="/event/post/#description">Edit</a>
</div><!-- .col -->
{% endblock active_tab_content %}

{% block right_side_content %}
    {% show_map %}
{% endblock right_side_content %}