{% extends "base-profile.html" %}

{% block selected_page %}your-profile{% endblock %}

{% block active_tab_content_width %}full{% endblock %}

{% block active_tab_content %}
<ul id="side-page-links">
	<li><a href="#">Profile</a></li>
    <li><a href="#">Event Preferences</a></li>
</ul>
<div class="col">
	<div class="col guest-list">
    <h2>Your Event Preferences</h2>
    <form>
    	<span class="h3">Which event categories do you like?</span>
        <span class="slt-categories">
        	<span class="slt-networking"><label for="networking">Networking</label> <input class="big-checkbox" id="networking" type="checkbox" name="networking" value="Networking" /></span>
            <span class="slt-sales"><label for="sales">Sales</label> <input class="big-checkbox" id="sales" type="checkbox" name="sales" value="Sales" /></span>
            <span class="slt-education"><label for="education">Education</label> <input class="big-checkbox" id="education" type="checkbox" name="education" value="Education" /></span>
            <span class="slt-dining"><label for="dining">Dining</label> <input class="big-checkbox" id="dining" type="checkbox" name="dining" value="Dining" /></span>
            <span class="slt-athletic"><label for="athletic">Athletic</label> <input class="big-checkbox" id="athletic" type="checkbox" name="athletic" value="Athletic" /></span>
            <span class="slt-parties"><label for="parties">Parties</label> <input class="big-checkbox" id="parties" type="checkbox" name="parties" value="Parties" /></span>
            <span class="slt-art"><label for="art">Art &amp; Music</label> <input class="big-checkbox" id="art" type="checkbox" name="art" value="Art and Music" /></span>
            <span class="slt-jobs"><label for="jobs">Jobs</label> <input class="big-checkbox" id="jobs" type="checkbox" name="jobs" value="Jobs" /></span>
            <span class="slt-dancing"><label for="dancing">Dancing</label> <input class="big-checkbox" id="dancing" type="checkbox" name="dancing" value="Dancing" /></span>
        </span>
        <label class="h3">What do you like to see at events?</label>
        <span class="form-details">Type some keywords you like to use when searching for events. Hit "Return" or "Enter" after each keyword.</span>
    </form>
</div><!-- .col .guest-list -->
</div><!-- .col -->
{% endblock active_tab_content %}
