{% extends "base-profile.html" %}

{% block selected_page %}your-posts-mng{% endblock %}

{% block active_tab_content_width %}full{% endblock %}

{% block active_tab_content %}
<ul id="side-page-links">
	<li><a href="#">Event Details</a></li>
    <li><a href="#">Ticket Types</a></li>
    <li><a href="#">RSVPs</a></li>
    <li><a href="#">Followers</a></li>
    <li><a href="#" class="active">Invitations</a></li>
    <li><a href="#">Updates</a></li>
</ul>
<div class="col">
	<h2>Invitations</h2>
    <p>Invite people to your event.</p>
    <form class="invitation-form">
    	<label for="invitation-message1">Your invitation message:</label>
    	<textarea id="invitation-message1" class="input-standard"></textarea>
        <label for="invitation-message1">Send to:</label>
        <input type="text" class="input-standard" value="type an email address and press enter" />
        <button>+ Add Gallevent Friends</button>
	</form>
    <div class="form-details">
    	<p>When you press the Send button, an email will be sent to the addresses you entered above, and a Gallevent message will be sent to your selected Gallevent friends.</p>
    </div><!-- .description -->
</div><!-- .col -->
{% endblock active_tab_content %}
