{% extends "base-profile.html" %}

{% block selected_page %}your-posts-mng{% endblock %}

{% block active_tab_content_width %}full{% endblock %}

{% block active_tab_content %}
<ul id="side-page-links">
	<li><a href="#">Event Details</a></li>
    <li><a href="#" class="active">Ticket Types</a></li>
    <li><a href="#">RSVPs</a></li>
    <li><a href="#">Followers</a></li>
    <li><a href="#">Invitations</a></li>
    <li><a href="#">Updates</a></li>
</ul>
<div class="col">
	<h2>Ticket Types</h2>
    <h3 class="ticket-type">General Admission: <b>$50</b></h3>
    <div class="description">
    	<p>With so many wine tastings and pairings, it's 'bout time for SF to have another beer festival. The 2nd Annual Bay Area Brew Festival follows last year's sold out event and this year's promises to be even bigger and better.</p>
        <p>The two day event will feature dozens of international and domestic beers, SF's best food trucks (food sold separately) and will take place at Fort Mason. Admission is $40 for general admission (2pm to 5pm) and $50 for VIP (1pm to 5pm) and includes unlimited beer.</p>
    </div><!-- .description -->
    <h3 class="ticket-type">VIP: <b>$400</b></h3>
    <div class="description">
    	<p>Everything from general admission + a back stage pass.</p>
    </div><!-- .description -->
    
    <a class="btn-edit" href="{% url gallevent.event.views.edit_event %}">Edit</a>
</div><!-- .col -->
{% endblock active_tab_content %}
