{% extends "base-profile.html" %}

{% block active_tab_content_width %}full{% endblock %}

{% block active_tab_content %}
<h2 style="margin-top:1em;">Your Profile</h2>
<p>Text here.</p>
<form>
    <span class="group">
        <span class="h3">Personal Informaiton</span>
        <label for="first-name">First name:</label>
        <input type="text" id="first-name" class="input-standard" />
        <label for="last-name">Last name:</label>
        <input type="text" id="last-name" class="input-standard" />
        <label for="your-city">The city you live in:</label>
        <input type="text" id="your-city" class="input-standard" />
        <label for="your-description">Tell us about yourself:</label>
        <textarea id="your-description" class="input-standard"></textarea>
    </span>
    <span class="group">
        <span class="h3">Event Preferences</span>
        <label for="like-categories">Event categories you like:</label>
        <input type="text" id="like-categories" class="input-standard" />
        <label for="your-keywords">Keywords you like to search for in events:</label>
        <input type="text" id="your-keywords" class="input-standard" />
    </span>
</form>
{% endblock active_tab_content %}
