@charset "utf-8";
/* Title: Reset
** Description: Reset all browser defaults. Modified version of Eric Meyer's Reset to avoid conflits with HTML Boilerplate's normalize.css.
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 01-06-2013
** Updated: 01-06-2013
************************************** */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
a, article, aside, figure, footer, header, menu, nav, section, menu,
time, mark, audio, video {
	padding:0;
	margin:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	}

article, aside, figure, footer, header,
hgroup, nav, section { display:block; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

del { text-decoration: line-through; }

select, option, input, type {
	padding:0;
	margin:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	}