@charset "utf-8";
/* Title: Global Styles
** Description: Positioning of most site-wide elemenets
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 01-06-2013
** Updated: 01-13-2013
************************************** */

/* = Global Fonts */
html,
body {
	background:#a5bfdd;
	font-family:Arial, Helvetica, sans-serif;
	}

a,
a:link {
	color:#01a1ad;
	text-decoration:none;
	}
a:hover {
	color:#66C13F;
	}

.sign-in-status {
	display:block;
	color:#fff;
	font-size:0.9em;
	}
.sign-in-status a,
.sign-in-status a:link {
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	}

/* = Global Form Elements
----------------------------------- */
input,
select {
	padding-top:0.6em;
	padding-bottom:0.6em;
	padding-left:2.5%;
	padding-right:2.5%;
	}

select {
	background:transparent;
	}

.select {
	background:#fff url(../img/btn-select-dwn-arrow.png) right center no-repeat;
	background-size:contain;
	overflow:hidden;
	}


/* = Global Rounded Corners
----------------------------------- */
#header {
	border-radius:0px 0px 8px 8px;
	}

/* = Global Calendar Datepicker
----------------------------------- */
#ui-datepicker-div {
	background:#fff;
	border:3px solid #e5e5e5;
	margin:18px 0 0 2px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px; /* future proofing */
	-khtml-border-radius:0 0 5px 5px; /* for old Konqueror browsers */
	position:static;
	}
.ui-datepicker {
	position:static;
	}
*+html #ui-datepicker-div {
	width:194px;
	}
#ui-datepicker-div a {
	color:#777;
	}
.ui-datepicker-header {
	color:#239ea2;
	margin:-23px 5px 0 -3px;
	padding:38px 0 16px 0;
	font-size:105%;
	font-weight:bold;
	text-align:center;
	background:url(../img/cal-top-arrow.png) 0 0 no-repeat;
	}
.ui-datepicker-prev,
.ui-datepicker-next {
	width:11px;
	height:18px;
	text-indent:-9999px;
	}
.ui-datepicker-prev {
	float:left;
	background:url(../img/icon-cal-arrow-l.png) 0 0 no-repeat;
	margin-left:15px;
	}
.ui-datepicker-prev:hover {
	background:url(../img/icon-cal-arrow-l-h.png) 0 0 no-repeat;
	}
.ui-datepicker-next {
	float:right;
	background:url(../img/icon-cal-arrow-r.png) 0 0 no-repeat;
	margin-right:7px;
	}
.ui-datepicker-next:hover {
	background:url(../img/icon-cal-arrow-r-h.png) 0 0 no-repeat;
	}
.ui-datepicker-calendar {
	margin:0 5px 5px 5px;
	}
#ui-datepicker-div table {
	border-collapse:collapse !important;
	font-size:90%;
	}
#ui-datepicker-div table td {
	padding:4px 5px 4px 5px;
	}
#ui-datepicker-div table td:hover {
	background:#EDF2F2;
	font-weight:bold;
	}
#ui-datepicker-div td:hover a {
	color:#70b820;
	}
#ui-datepicker-div thead {
	color:#fff;
	background:#239ea2;
	}
#ui-datepicker-div thead tr {
	height:2em;
	}
.ui-datepicker-today {
	border:1px solid #239ea2;
	font-weight:bold;
	}
.ui-datepicker-today a {
	color:#239ea2 !important;
	}

/* = Global Map Styles
----------------------------------- */
#map-box,
#map_canvas {
	z-index:200;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	}

/* = Global Map Control
----------------------------------- */
#top-search {
	padding:20px 6% 2.6em 6%;
	color:#fff;
	background:#f9a21c;
	}
#top-search label {
	display:block;
	margin-top:0.5em;
	color:#fff;
	font-weight:bold;
	}

#top-search #event {
	width:95%;
	}

#top-search .select {
  	float:left;
	width:40%;
	}
#top-search select#time-span {
	width:150%;
	}

#top-search .connecting-block {
	width:10%;
	float:left;
	text-align:center;
	line-height:2em;
	}
#top-search #date1 {
	width:22%;
	}

/* #map-controls */
#pin-key {
	float:left;
	margin:0 0 1.5em 0;
	width:100%;
	list-style:none;
	padding:0;
	horizontal-overflow:hidden;
	}
#pin-key li a {
	width:88%;
	float:left;
	padding:1em 6% 1em 6%;
	border-bottom:1px solid #d2d2d2;
	background-color:#f7f7f7;
	background-position: 6% 8px;
	background-repeat:no-repeat;
	font-weight:bold;
	color:#000;
	text-decoration:none;
	}
#pin-key li a b,
#pin-key li a i {
	margin-left:45px;
	}
#pin-key li a i {
	display:none;
	color:#555659;
	font-weight:normal;
	}
#pin-key li a:hover {
	padding:0.3em 6% 0.3em 6%;
	background-color:#fff;
	}
#pin-key li a:hover i {
	display:block;
	}

.networking {
	background-image:url(../img/pin-key-networking.png);
	
	}
.education {
	background:url(../img/pin-key-education.png) 10px 8px no-repeat;
	}
.fairs {
	background:url(../img/pin-key-fairs.png) 10px 8px no-repeat;
	}
.athletic {
	background:url(../img/pin-key-athletic.png) 10px 8px no-repeat;
	}
.art {
	background:url(../img/pin-key-art.png) 10px 8px no-repeat;
	}
.dancing {
	background:url(../img/pin-key-dancing.png) 10px 8px no-repeat;
	}
.sales {
	background:url(../img/pin-key-sales.png) 10px 8px no-repeat;
	}
.dining {
	background:url(../img/pin-key-dining.png) 10px 8px no-repeat;
	}
.parties {
	background:url(../img/pin-key-parties.png) 10px 8px no-repeat;
	}
.jobs {
	background:url(../img/pin-key-jobs.png) 10px 8px no-repeat;
	}


/* = Map Pop-Ups
----------------------------------- */
.map-popup {
	width:300px;
	color:#58595b;
	overflow-y:hidden;
	}

.map-popup .event-name {
	font-size:150%;
	line-height:1.1em;
	margin-bottom:0.35em;
	color:#01A1AD;
	}
.map-popup .event-name a {
	color:#01A1AD;
	}
.map-popup .event-name a:hover {
	color:#85c440; /* green */
	}
.event-name .pop-up-banner {
	position:relative;
	z-index:900;
	margin-bottom:0.5em;
	}
.event-name .category-icon {
	float:left;
	margin-right:0.5em;
	}
.event-name .pop-up-banner+.category-icon {
	float:right;
	margin:-1.2em 10px 0 0;
	border:2px solid #fff;
	position:relative;
	z-index:1000;
	}

.map-popup .price {
	color:#01A1AD;
	font-size:110%;
	}
.map-popup .price strong {
	color:#70b820;
	}

.map-popup .description,
.map-popup .address {
	margin:.5em 0 0 0;
	}
.map-popup .address {
	font-style:italic;
	color:#868789;
	}

.map-popup .mod-event {
	clear:both;
	}
.map-popup .mod-event a {
	font-style:italic;
	text-decoration:underline;
	color:#f68d1f;
	}
.map-popup .mod-event a:hover {
	text-decoration:none;
	color:#85c440;
	}
.map-popup .mod-event .warning {
	float:right;
	}
.map-popup .mod-event a.warning {
	font-style:italic;
	text-decoration:underline;
	color:#d62121;
	}
.map-popup .mod-event a.warning:hover {
	text-decoration:none;
	color:#F2581C;
	}


/* = Buttons
----------------------------------- */
#top-search input[type="submit"],
.sign-in-form input[type="submit"],
.map-popup .btn-rsvp,
.map-popup .btn-watch {
	border-radius:6px;
	color:#fff;
	font-weight:bold;
	}

#top-search input[type="submit"],
.sign-in-form input[type="submit"] {
	border:2px solid #fff;
	border-radius:6px;
	background:#66C13F;
	color:#fff;
	font-weight:bold;
	}

.sign-in-form input[type="submit"] {
	margin-top:1em;
	}

#top-search input[type="submit"] {
	float:right;
	width:20%;
	}
	
.home a.btn-post-event {
	clear:both;
	display:block;
	margin:0 auto;
	width:70%;
	max-width:200px;
	box-shadow:			0px 0px 4px rgba(0,0,0,0.3);
	border:2px solid #fff;
	border-radius:6px;
	padding:1em;
	background-color:#66C13F;
	background-image:url(../img/icon-pin-add.png);
	background-position:8% center;
	background-repeat:no-repeat;
	color:#fff;
	text-indent:11%;
	text-decoration:none;
	font-weight:bold;
	font-size:115%;
	}
	
input[type="submit"]:hover,
#top-search input[type="submit"]:hover,
a.btn-post-event:hover {
	background-color:#01a1ad;
	}

.map-popup .btns {
	margin:0 0 0.5em 0;
	float:left;
	}

.map-popup .btn-rsvp,
.map-popup .btn-watch {
	padding:.4em .6em .4em .6em;
	margin:1em 0.5em 0 0;
  	float:left;
	}

.map-popup .btn-rsvp {
	background:#66C13F;
	}

.map-popup .btn-rsvp:hover {
	background:#8cd734;
	}
.map-popup .btn-watch {
	background:#F9A21C;
	}
.map-popup .btn-watch:hover {
	background:#fcb510;
	}
	
	
/* = Main Containers
----------------------------------- */
#header {
	z-index:800;
	box-shadow:			0px 0px 4px rgba(0,0,0,0.3);
	height:auto;
	padding:20px 2% 20px 2%;
	background:#f9a21c;
	}

#header a:hover {
	color:#01A1AD;
	}

.logo-block {
	width:217px;
	}
.logo {
	display:block;
	overflow:hidden;
	width:217px;
	height:45px;
	margin-left:0;
	background:url(../img/logo-gallevent-white.png) top left no-repeat;
	text-indent:-100%;
	}
.tagline {
	display:block;
	margin-right:16px;
	color:#fff;
	text-align:right;
	font-weight:bold;
	font-size:15px;
	}

#footer {
	padding:2em 6% 2em 6%;
	text-align:center;
	font-size:85%;
	color:#555659;
	}
#footer ul {
	list-style:none;
	display:block;
	margin:4em 0 1em 0;
	}
#footer ul li {
	display:inline;
	margin-left:1em;
	}

/* = Media Queries
----------------------------------- */
@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
	html {
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	}
}

@media all and (max-width: 960px) {
#top-search label {
	display:block;
	margin-top:0.5em;
	color:#fff;
	font-weight:bold;
	}
#top-search #time-span {
	width:40%;
	}
#top-search .connecting-block {
	position:relative;
	top:0.5em;
	width:10%;
	padding:0.6em 0 0.6em 0;
	}
#top-search #date1 {
	width:40%;
	float:right;
	}
}