@charset "utf-8";
/* Title: Layout
** Description: Positioning of most site-wide elemenets
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 01-28-2012
** Updated: 03-05-2012
************************************** */

/* = General Styles
----------------------------------- */
.left {
	float:left;
	}

.right {
	float:right;
	}

.profile-pic {
	display:block;
	float:left;
	}

.person-summary {
	display:block;
	float:left;
	margin:-80px 0 0 88px;
	}


/* = Containers
----------------------------------- */
/* = Header */
#header a.logo {
	margin:26px 0 0 20px;
	display:block;
	float:left;
	}

#header .right {
	top:5px;
	right:20px;
	text-align:right;
	position:fixed;
	}

/* = Columns */
.col {
	float:left;
	margin-right:1.5em;
	width:28%;
	}

/* = Map Pop-ups */
.map-popup {
	width:300px;
	color:#333;
	overflow-y:hidden;
	}

.map-popup .event-name {
	padding:0 .5em .5em 35px;
	}
	
.cb-networking {
	background:url(../img/cbi-networking.png) top left no-repeat;
	}

.map-popup .btns {
	margin-top:1.2em;
	}

.map-popup .mod-event {
	margin-top:1.2em;
	}

.map-popup .mod-event .warning {
	float:right;
	}

/* = Footer */
#footer {
	border-top:1px solid #f99f1b;
	float:left;
	width:100%;
	background:#f2f2f2;
	}

#footer .copyright {
	float:right;
	}

/* = Search in Header */
form#top-search {
	float:left;
	margin:14px 29px 16px 20px;
	}

form#top-search input {
	font-size:100%;
	}

form#top-search label {
	display:block;
	color:#fff;
	}

form#top-search #event,
form#top-search #date1,
form#top-search #date2 {
	border:1px solid #ff9000;
	padding:.5em 0 .5em .5em;
	}

form#top-search #event {
	width:290px;
	margin-right:.5em;
	}

form#top-search #date1,
form#top-search #date2 {
	width:100px;
	}

form#top-search .btn-search {
	background:url(../img/btn-search.png) top left no-repeat;
	width:78px;
	height:36px;
	border:none;
	text-indent:-9999px;
	margin:18px 0 0 10px;
	}

form#top-search .btn-search:hover {
	background:url(../img/btn-search-h.png) top left no-repeat;
	}

/* = Forms
----------------------------------- */
form input {
	font-size:110%;
	margin-bottom:1em;
	}
form label {
	clear:both;
	}
.input-required {
	border:2px solid #f9882b;
	background:#fefbe3;
	}
.input-active {
	border:2px solid #85c440;
	background:#f0f8e8;
	}
.input-standard {
	border:2px solid #239ea2;
	background:#e4f3f4;
	}

.form-details {
	width:350px;
	display:block;
	}

/* = Select Categories Checkboxes */
.slt-categories {
	display:block;
	float:left;
	margin:.5em 0 1em 0;
	}
.slt-categories span {
	width:49%;
	border:1px solid #3CC;
	float:left;
	display:block;
	background-color:#e4f3f4;
	}
.slt-categories span:hover {
	border:1px solid #85C440;
	background-color:#f0f8e8;
	}
.slt-categories span label {
	float:left;
	padding:12px 0 12px 42px;
	}
.slt-categories input.big-checkbox {
	float:right;
	display:inline;
	width:15px;
	height:15px;
	border:1px solid #30C;
	}

.slt-networking label {
	background:url(../img/pin-key-networking.png) 2px 3px no-repeat;
	}
.slt-education label {
	background:url(../img/pin-key-education.png) 2px 3px no-repeat;
	}
.slt-athletic label {
	background:url(../img/pin-key-athletic.png) 2px 3px no-repeat;
	}
.slt-art label {
	background:url(../img/pin-key-art.png) 2px 3px no-repeat;
	}
.slt-dancing label {
	background:url(../img/pin-key-dancing.png) 2px 3px no-repeat;
	}
.slt-sales label {
	background:url(../img/pin-key-sales.png) 2px 3px no-repeat;
	}
.slt-dining label {
	background:url(../img/pin-key-dining.png) 2px 3px no-repeat;
	}
.slt-jobs label {
	background:url(../img/pin-key-jobs.png) 2px 3px no-repeat;
	}
.slt-parties label {
	background:url(../img/pin-key-parties.png) 2px 3px no-repeat;
	}


/* = Special Columns for Your Account */
.possible-connections,
.my-contacts ,
.my-groups,
.guest-list,
.watching-list {
	float:left;
	}

.guest-list input#search-rsvps,
.watching-list input#search-rsvps {
	width:85%;
	margin:0;
	float:left;
	}

.possible-connections {
	border:3px solid #85C440;
	float:left;
	}

.guest-list,
.watching-list {
	float:left;
	margin-top:2em;
	padding:0 12px 0 12px;
	}

.guest-list {
	border:3px solid #85C440;
	}

.watching-list {
	border:3px solid #f68d1f;
	}

.possible-connections form,
.my-contacts form,
.my-groups form {
	margin-left:.5em;
	}

.my-contacts {
	border:3px solid #239EA2;
	float:left;
	}

.my-groups {
	border:3px solid #F68D1F;
	float:left;
	}

form .group {
	margin-bottom:1.5em;
	display:block;
	float:left;
	clear:left;
	}

#active-sort-by1,
#active-sort-by2,
#active-sort-by3 {
	margin-bottom:.5em;
	}

form input#zip-code {
	width:80px;
	margin-right:15px;
	}

form select#event-category {
	font-size:110%;
	background:#fefbe3;
	width:300px;
	margin-bottom:0.5em;
	}

form input#start-date,
form input#start-time,
form input#end-date,
form input#end-time {
	width:100px;
	}

form input#ticket-price,
form input#rsvp-limit {
	width:100px;
	margin-right:15px;
	}

#select-fairs,
#select-networking,
#select-education,
#select-athletic,
#select-art,
#select-dancing,
#select-sales,
#select-dining,
#select-parties,
#select-jobs {
	height:36px;
	padding:5px 5px 0 40px;
	}

#select-fairs {
	background:url(../img/pin-key-art.png) top left no-repeat;
	}
#select-networking {
	background:url(../img/pin-key-networking.png) top left no-repeat;
	}
#select-education {
	background:url(../img/pin-key-education.png) top left no-repeat;
	}
#select-athletic {
	background:url(../img/pin-key-athletic.png) top left no-repeat;
	}
#select-art {
	background:url(../img/pin-key-art.png) top left no-repeat;
	}
#select-dancing {
	background:url(../img/pin-key-dancing.png) top left no-repeat;
	}
#select-sales {
	background:url(../img/pin-key-sales.png) top left no-repeat;
	}
#select-dining {
	background:url(../img/pin-key-dining.png) top left no-repeat;
	}
#select-parties {
	background:url(../img/pin-key-parties.png) top left no-repeat;
	}
#select-jobs {
	background:url(../img/pin-key-jobs.png) top left no-repeat;
	}


/* = Event and People Lists
-------------------------------- */
.search-box {
	float:left;
	width:100%;
	margin-bottom:.5em;
	}

ul.form-event-list,
ul.form-people-list {
	list-style:none;
	float:left;
	}
ul.form-event-list li,
ul.form-people-list li {
	border:2px solid #3CC;
	float:left;
	display:block;
	background:#e4f3f4;
	}
ul.form-event-list li:hover,
ul.form-people-list li:hover {
	border:2px solid #85C440;
	background:#f0f8e8;
	text-decoration:none;
	}

.more-link {
	float:left;
	text-align:right;
	width:500px;
	margin:.5em 0 0 0;
	}

.col .more-link {
	float:left;
	text-align:right;
	width:100%;
	margin:.5em 0 .5em 0;
	}

/* = Event List */
ul.form-event-list .event-name,
ul.form-event-list .date-time,
ul.form-event-list .address {
	display:block;
	float:left;
	margin:0 14px 8px 0;
	}
ul.form-event-list .event-name {
	clear:both;
	width:300px;
	}

ul.form-event-list .edit {
	float:right;
	display:none;
	}

ul.form-event-list li:hover .edit {
	display:inline;
	}

.form-event-list .list-networking,
.form-event-list .list-education,
.form-event-list .list-athletic,
.form-event-list .list-art,
.form-event-list .list-dancing,
.form-event-list .list-sales,
.form-event-list .list-dining,
.form-event-list .list-parties,
.form-event-list .list-jobs {
	padding:8px 12px 8px 53px;
	float:left;
	width:435px;
	}

ul.form-event-list li.list-networking,
ul.form-event-list a.list-networking {
	background-image:url(../img/pin-key-networking.png);
	background-position:8px 6px;
	background-repeat:no-repeat;
	}
ul.form-event-list li.list-education,
ul.form-event-list a.list-education {
	background-image:url(../img/pin-key-education.png);
	background-position:8px 6px;
	background-repeat:no-repeat;
	}
ul.form-event-list li.list-athletic,
ul.form-event-list a.list-athletic {
	background-image:url(../img/pin-key-athletic.png);
	background-position:8px 6px;
	background-repeat:no-repeat;
	}
ul.form-event-list li.list-art,
ul.form-event-list a.list-art {
	background-image:url(../img/pin-key-art.png);
	background-position:8px 6px;
	background-repeat:no-repeat;
	}
ul.form-event-list li.list-dancing,
ul.form-event-list a.list-dancing {
	background-image:url(../img/pin-key-dancing.png);
	background-position:8px 6px;
	background-repeat:no-repeat;
	}
ul.form-event-list li.list-sales,
ul.form-event-list a.list-sales {
	background-image:url(../img/pin-key-sales.png);
	background-position:8px 6px;
	background-repeat:no-repeat;
	}
ul.form-event-list li.list-dining,
ul.form-event-list a.list-dining {
	background-image:url(../img/pin-key-dining.png);
	background-position:8px 6px;
	background-repeat:no-repeat;
	}
ul.form-event-list li.list-parties,
ul.form-event-list a.list-parties {
	background-image:url(../img/pin-key-parties.png);
	background-position:8px 6px;
	background-repeat:no-repeat;
	}
ul.form-event-list li.list-jobs,
ul.form-event-list a.list-jobs {
	background-image:url(../img/pin-key-jobs.png);
	background-position:8px 6px;
	background-repeat:no-repeat;
	}
	
.form-event-list .event-data {
	float:left;
	width:350px;
	}

.form-event-list .mod-event {
	float:right;
	width:70px;
	}

/* = People List */
ul.form-people-list li {
	padding:6px;
	}

ul.form-people-list li .city {
	display:block;
	float:left;
	clear:left;
	}




ul.form-people-list li a .name,
ul.form-people-list li a .city,
ul.form-people-list li a .categories-label,
ul.form-people-list li a .pins,
ul.form-people-list li a .keywords-label,
ul.form-people-list li a .keywords {
	display:block;
	float:left;
	}

ul.form-people-list li a .pins,
ul.form-people-list li a .keywords-label {
	clear:left;
	}




/* = Buttons 
----------------------------------- */
a.btn-manage,
a.btn-view,
a.btn-edit,
a.btn-watch,
.mod-event .btn-delete {
	float:right;
	padding:.4em .6em .4em .6em;
	-moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius:  3px;
    border-radius:         3px;
	display:block;
	clear:right;
	margin-bottom:4px;
	width:100%;
	text-align:center;
	}
.btn-manage,
.btn-view {
	background:#239ea2;
	}
.btn-manage:hover,
.btn-view:hover {
	background:#34bec2;
	}

.btn-edit {
	background:#85c440;
	}
.btn-edit:hover {
	background:#8cd734;
	}

.btn-watch {
	background:#f68d1f;
	}
.btn-watch:hover {
	background:#fcb510;
	}

.your-posts-mng .btn-edit,
.your-profile .btn-edit,
.your-posts-manage .btn-edit {
	width:40px;
	float:left;
	margin-top:1em;
	}

.btn-post-event {
	background:url(../img/btn-post-event-h.png) 0 7px no-repeat;
	display:block;
	float:left;
	width:234px;
	height:79px;
	margin:0 0 0 10px;
	}
.btn-post-event a {
	background:url(../img/btn-post-event.png) 0 7px no-repeat;
	display:block;
	float:left;
	width:234px;
	height:79px;
	text-indent:-9999px;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out; 
	}
.btn-post-event a:hover {
	opacity: 0;
	}

input.btn-s-post-event {
	background:url(../img/btn-s-post-event.png) top left no-repeat;
	width:180px;
	height:54px;
	text-indent:-9999px;
	margin-top:.5em;
	clear:left;
	display:block;
	}
input.btn-s-post-event:hover {
	background:url(../img/btn-s-post-event-h.png) top left no-repeat;
	}

.btn-create-account {
	background:url(../img/btn-create-account.png) 0 0 no-repeat;
	width:180px;
	height:54px;
	text-indent:-9999px;
	margin-top:1em;
	}
.btn-create-account:hover {
	background:url(../img/btn-create-account-h.png) 0 0 no-repeat;
	}

.search-box .btn-search {
	background:#239ea2 url(../img/icon-search.png) center no-repeat;
	text-indent:-9999px;
	border:none;
	float:left;
	width:10%;
	height:34px;
	-moz-border-radius:    0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
    -khtml-border-radius:  0 3px 3px 0;
    border-radius:         0 3px 3px 0;
	}

.map-popup .btn-rsvp,
.map-popup .btn-watch {
	margin-right:5px;
	padding:.4em .6em .4em .6em;
	-moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius:  3px;
    border-radius:         3px;
	}

.map-popup .btn-rsvp {
	background:#85c440;
	color:#fff;
	}
.map-popup .btn-rsvp:hover {
	background:#8cd734;
	}
.map-popup .btn-watch {
	background:#f68d1f;
	color:#fff;
	}
.map-popup .btn-watch:hover {
	background:#fcb510;
	}