@charset "utf-8";
/* Title: Reset
** Description: Reset all browser defaults
** Author: Jessica Greenwalt - www.jgreenwalt.com
** Created: 01-26-2012
** Updated: 01-26-2012
************************************** */

html,
body,
a,
p,
img,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
dd,
input,
button {
    border:none;
    padding:0;
    margin:0;
	}